<div data-id="{$field.id}" class="field">
    <div class="name">
      <i class="fas fa-grip-vertical text-gray custom-pr-4 sort"></i>
        <a href="javascript:void(0);" class="crm-edit-field-link" data-id="{$field.id}">{$field.name|escape} <i class="fas fa-pen edit"></i></a>
    </div>
    <div class="value">
        {if $field.editable}
            {if $field.disabled && empty($field.deal_mirror)}
                <span class="text-red small">[`disabled`]</span>
            {else}
                <span class="{if $field.pStatus === 'disabled'}hint text-gray{else}small bold{/if}">[`person`]</span>
                <span class="{if $field.cStatus === 'disabled'}hint text-gray{else}small bold{/if}">[`company`]</span>
                <span class="{if empty($field.deal_mirror)}hint text-gray{else}small bold{/if}">[`deal`]</span>
            {/if}
        {else}
            {if $field.disabled}
                <span class="text-red small">[`disabled`]</span>
            {else}
                <span class="{if $field.pStatus === 'disabled'}hint text-gray{else}small bold{/if}">[`person`]</span>
                <span class="{if $field.cStatus === 'disabled'}hint text-gray{else}small bold{/if}">[`company`]</span>
                <span class="small text-gray strike">&nbsp;[`deal`]&nbsp;</span>
            {/if}
        {/if}
    </div>
</div>