{$wrapper_id = uniqid('crm-dialog-edit-field-wrapper-')}

{function localized_name_input_block locale=[] localized_name_value='' is_main_locale='' editable=''}
<li class="crm-local-input-wrapper">
  <input type="text" name="name[{$locale.id}]" data-error-id="{$locale.id}"
    value="{ifset($localized_name_value, '')|trim|escape}" {if $is_main_locale}data-main-locale="1" {/if} {if
    !$editable}disabled="disabled" {/if}>
  <span class="state-error-hint"></span>
  <p class="hint ellipsis small crm-name-region">{$locale.name_region}</p>
</li>
{/function}

<div class="dialog crm-dialog-edit-field-wrapper" id="{$wrapper_id}">
  <div class="dialog-background"></div>
  <div class="dialog-body">
    <header class="dialog-header">
      <h1>{if $field}[`Edit field`]{else}[`New field`]{/if}</h1>
    </header>

    <form method="post" class="fields js-field-form-edit"
      action="{$wa_app_url}?module=settings&action=fieldSave{if $field}&id={$field.id}{/if}">
      <div class="dialog-content">
          <div class="field">
            <div class="name">[`Field name`]</div>
            <div class="value">
              <ul>
                {localized_name_input_block
                locale=$locale
                localized_name_value=$field.localized_names[$locale.id]|default:null
                editable=!$field || $field.editable
                is_main_locale=true
                }

                        {$rest_locales = []}
                        {foreach $other_locales as $loc}
                            {$localized_name = $field.localized_names[$loc.id]|default:null}
                            {if $localized_name}
                                {localized_name_input_block
                                locale=$loc
                                localized_name_value=$localized_name
                                editable=!$field || $field.editable
                                }
                            {else}
                                {$rest_locales[] = $loc}
                            {/if}
                        {/foreach}

                        {if $rest_locales}
                            <li class="hint">
                              <div class="wa-select">
                                      <select class="not-styled crm-add-name-another-language-wrapper">
                                        <option>[s`Add name in another language`]</option>
                                            {foreach $rest_locales as $loc}
                                            <option class="crm-add-name-another-language" data-name-region="{$loc.name_region}" data-id="{$loc.id}">
                                              {$loc.name_region}
                                            </option>
                                            {/foreach}
                                          </select>
                              </div>
                              </li>
                        {/if}
                      </ul>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Field ID`]</div>
                    <div class="value">
                        {if !$field}
                            <input type="text" name="id_val" data-error-id="id_val" value="">
                        {else}
                            <span>{$field.id|escape}</span>
                        {/if}
                        <span class="state-error-hint"></span>
                    </div>
                </div>
                <div class="field">
                    <div class="name">[`Type of field`]</div>
                    <div class="value">
                        {if !$field}
                            <div class="wa-select">
                                <select name="ftype" class="not-styled crm-field-type-select">
                                    {foreach $field_types as $ftype => $ftype_str}
                                        <option value="{$ftype}">{$ftype_str}</option>
                                    {/foreach}
                                </select>
                            </div>
                        {else}
                            <span>{$field.type_name|default:$field.type}</span>
                        {/if}
                    </div>
                </div>

                <div class="field crm-values-textarea-wrapper" {if !$field || !isset($field.options)}style="display: none;"{/if}>
                    <div class="name">[`List items`]</div>
                    <div class="value" data-field-value="Menu">
                            <textarea name="select_field_value" placeholder="[`Enter each new item on new line`]"
                                      {if $field && !$field.editable}disabled="disabled"{/if}>{$field.options|default:[]|join:"\n"}</textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="name">[`Applied to`]</div>
                    <div class="value">
                        <label>
                            <span class="wa-checkbox">
                                <input type="checkbox" name="type[]"
                                       value="person"
                                       {if !$field || $field.pStatus != 'disabled'}checked="checked"{/if}
                                    {if $field && $field.type === 'Email'}disabled="disabled"{/if}>
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                            </span>
                            [`Person`]
                        </label>
                        <br>
                        <label>
                            <span class="wa-checkbox">
                                <input type="checkbox" name="type[]"
                                       value="company"
                                       {if $field && $field.cStatus != 'disabled'}checked="checked"{/if}>
                                       <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                            </span>
                            [`Company`]
                        </label>
                        {if !$field || $field.editable}
                            <br>
                            <label>
                                <span class="wa-checkbox">
                                    <input type="checkbox" name="type[]"
                                           value="deal"
                                           {if $field && !empty($field.deal_mirror)}checked="checked"{/if}>
                                           <span>
                                            <span class="icon">
                                                <i class="fas fa-check"></i>
                                            </span>
                                        </span>
                                </span>
                                [`Deal`]
                            </label>
                        {/if}
                    </div>
                </div>

                {if $field && !empty($field.id) && $field.type == 'Address' && !$field.disabled}
                    <div class="field">
                        <div class="name">[`Address fields`]</div>
                    </div>
                    <div class="field">
                        <table class="subfields-list zebra" id="subfileds-list">
                            <tbody class="ui-sortable">
                            {foreach $cf->getParameter('fields') as $_sf}
                                {wa_action app="crm" module="settings" action="FieldFormRow" fid=$_sf->getId() f=$_sf parent='address' css_class='field-row editor-off'}
                            {/foreach}
                            {wa_action app="crm" module="settings" action="FieldFormRow" fid='%FID%' f=null parent='address' css_class='hidden field-row template editor-on just-added'}
                            <tr class="white add-field">
                                <td class="min-width">&nbsp;</td>
                                <td colspan="2">
                                    <a class="js-add-subfield" href="#"><i class="fas fa-plus-circle"></i></a>
                                    <a href="#" class="inline-link js-add-subfield">[`Add field`]</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {/if}

                <span class="errormsg crm-common-errors"></span>
            </div>
            <footer class="dialog-footer">
                <div class="crm-actions">
                    <div class="flexbox middle full-width wrap">
                        <div class="c-column">
                            {if !$field || $field.editable}
                                <input class="button crm-button js-save" type="submit" value="[`Save`]">
                            {else}
                                <input class="button crm-button js-save" type="submit" value="[`Save`]" disabled="disabled">
                            {/if}
                            <a class="button light-gray js-close-dialog" href="javascript:void(0);">[`Cancel`]</a>
                        </div>
                        {if $field}
                            <div class="c-column middle right">
                                {if $field.editable}
                                    <a href="javascript:void(0);" class="red small outlined button crm-field-delete"><i class="fas fa-times-circle"></i> [`Delete field`]</a>
                                {else}
                                    {if $field.disabled}
                                        <a href="javascript:void(0);" class="green small outlined button crm-field-enable">[`Enable field`]</a>
                                    {else}
                                        <a href="javascript:void(0);" class="orange small outlined button crm-field-disable">[`Disable field`]</a>
                                    {/if}
                                {/if}
                            </div>
                        {/if}
                    </div>
                </div>
            </footer>
        </form>

        <script>
            $(function () {
                new crmSettingsFieldEdit({
                    field: {$field|json_encode},
                    '$wrapper': $('#{$wrapper_id}'),
                    'locales': {
                        'delete_subfield_title': '[`Delete field`]',
                        'delete_subfield_text': '[`This will remove field and all its data from all existing contacts. Are you sure?`]',
                        'delete_subfield_button': '[`Delete`]',
                        'field_is_required': {"[`This field is required.`]"|json_encode}
                    }
                });
            });
        </script>
    </div>
</div>
