{$_title = "[`Automation`]"}

{$_is_here_birthday_active_event = false}

<div class="c-settings-notification-page" id="c-settings-notification-page">
    <h1 class="c-page-header">{$_title}</h1>
    <div class="fields">
        <section class="c-notifications-section fields-group">
            <ul class="list c-notification-list">
                {foreach $notifications as $_notification}
                    {$_icon = "envelope"}
                    {if !empty($transports[$_notification.transport])}
                        {$_icon = $transports[$_notification.transport].icon}
                    {/if}
                    {if $_icon == "email"}
                    {$_icon = "envelope"}
                    {elseif $_icon == "mobile"}
                    {$_icon = "mobile-alt"}
                    {/if}
                    {if $_notification.event === 'customer.birthday' && $_notification.status > 0}
                        {$_is_here_birthday_active_event = true}
                    {/if}
                    <li class="c-notification {if !$_notification.status}c-is-disabled{/if}" data-id="{$_notification.id}">
                        <div class="flexbox full-width">
                            <div class="flexbox middle">
                                <div class="c-notification-details">
                                    <a href="{$wa_app_url}settings/notifications/edit/{$_notification.id}/">
                                        <i class="fas fa-{$_icon} custom-mr-8"></i>
                                        <span class="c-notification-name">{$_notification.name|escape}</span>
                                    </a>
                                    {if !empty($_notification.company) && !empty($_notification.company.name)}
                                        <span class="hint">({$_notification.company.name|escape})</span>
                                    {/if}
                                </div>
                            </div>

                            <div class="flexbox middle">
                                <span class="flexbox middle space-8 wrap c-disable-link-wrapper">
                                    <span class="icon size-16 loading c-loading" style="display: none"><i class="fas fa-spinner fa-spin"></i></span>
                                    <div class="switch-with-text js-c-disable-link">
                                        <span class="switch smaller" id="switch-{$_notification.id}">
                                            <input type="checkbox" name="" id="switch-notification-input" {if $_notification.status}checked{/if}>
                                        </span>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </li>
                {/foreach}
            </ul>
            <div class="c-add-wrapper">
            <a href="{$wa_app_url}settings/notifications/edit/" class="button small rounded light-gray">
                <i class="fas fa-plus-circle add text-green"></i>
                [`Add automation rule`]
            </a>
        </div>

            {if $_is_here_birthday_active_event && !crmNotificationBirthdayWorker::isCliOk()}
                <div style="margin-top: 20px;">
                    {include file="./SettingsCronNotificationBirthday.inc.html" inline}
                </div>
            {/if}

        </section>
    </div>
    <script>
        (function ($) {
            $.crm.title.set({$_title|json_encode});
            new CRMNotificationStatus({
                $wrapper: $("#c-settings-notification-page"),
                messages: {
                    'disable': '[`disable`]',
                    'enable': '[`enable`]'
                }
            });
        })(jQuery);
    </script>
</div>
