{function localizedType f=null}
    {strip}
        {if $f instanceof waContactBranchField}
            {$ftypes['Branch']}
        {elseif $f instanceof waContactStringField && $f->getParameter('input_height') > 1}
            {$ftypes['Text']}
        {elseif $f instanceof waContactRadioSelectField}
            {$ftypes['Radio']}
        {else}
            {ifempty($ftypes[$f->getType()], $f->getType())}
        {/if}
    {/strip}
{/function}

{if !isset($default_value)}
    {$default_value = null}
{/if}

{if $f->getType() != "Hidden"}
    <tr class="{$tr_classes}" data-field-id="{$fid}"{if !$new_field} data-field-type="{$f->getType()}"{/if}>
        <td class="min-width"><i class="fas fa-grip-vertical text-gray js-subfield-sort sort"></i></td>
        <td class="hidden">
            {if $f->getParameter('always_required')}
                <input type="hidden" name="{$prefix}[{$fid}][_disabled]" value="">
            {else}
                <input type="hidden" name="{$prefix}[{$fid}][_disabled]" value="1">
            {/if}
        </td>
        <td>
            <label for="enbl-{$uniqid}" class="name-label">{$f->getName()|escape}</label>
            <input type="text" class="name-input" placeholder="[`Field name`]" name="{$prefix}[{$fid}][localized_names]" value="{$f->getName()|trim|escape}">

            {if !$new_field}
                <p class="name-hint hint">{localizedType f=$f}</p>
                {if $f->getType() === 'Composite'}
                    <ul class="hint">
                        {foreach $f->getParameter('fields') as $sf}
                            <li>{$sf->getName()}</li>
                        {/foreach}
                    </ul>
                {/if}
            {/if}
        </td>
        <td class="{if $new_field} min-width{/if}" style="vertical-align: middle;">
            {if !$new_field}
                <div class="c-link-wrapper">
                    {if !$f->getParameter('app_id') || $f->getParameter('app_id') == 'crm'}
                        <div style="min-width: 36px; display: inline-block; text-align: left;">
                            <a href="#" class="inline js-edit-subfield" title="[`Edit`]"><i class="fas fa-edit"></i></a>
                            {if $f->getParameter('app_id') === 'crm'}
                                <a href="#" class="inline js-delete-subfield" title="[`Delete`]"><i class="fas fa-trash-alt"></i></a>
                            {/if}
                        </div>
                    {elseif $f->getParameter('app_id')}
                        <img title="[`Created in the app`]: {$app_name}" src="{$wa_url}wa-apps/{$app_icon}/img/{$app_icon}.png" class="installer-small-icon"/>
                    {/if}
                </div>
            {/if}

            {if $new_field}
                <div class="hide-when-field-disabled align-right">
                    <div class="wa-select small custom-mr-0">
                        <select class="not-styled type-selector" name="{$prefix}[%FID%][_type]">
                            <option value="string">[`Text (input)`]</option>
                            <option value="textarea">[`Text (textarea)`]</option>
                            <option value="number">[`Number (input)`]</option>
                            <option value="branch">[`Selectable (radio)`]</option>
                            <option value="select">[`Selectable (select)`]</option>
                            <option value="conditional">[`Conditional (select/input)`]</option>
                            <option value="checkbox">[`Checkbox`]</option>
                        </select>
                    </div>
                    <div class="field-advanced-settings"></div>
                </div>
            {else}
                <div class="hide-when-field-enabled custom-mt-4" >
                    <input type="hidden" name="{$prefix}[{$fid}][_default_value_enabled]" value="{if ifset($default_value) !== null}1{/if}">
                    {if ifset($default_value) === null}
                        <a href="javascript:void(0)" class="setup-default-value-link small hint inline-link">[`Set default fixed value`]</a>
                    {else}
                        <a href="javascript:void(0)" class="setup-default-value-link hint inline-link">[`Default fixed value:`]
                                    <strong>{$default_value|escape}</strong></a>
                    {/if}
                    <div class="hidden default-value-editor">
                        <div class="small">[`Default fixed value:`]</div>
                        {if $f instanceof waContactConditionalField || $f instanceof waContactRegionField || $f instanceof waContactBranchField}
                            <input type="text" name="{$prefix}[{$fid}][_default_value]" value="{ifset($default_value)|escape}">
                        {else}
                            <div class="field value" style="padding:0;margin:0">{$form->html('_default_value')}</div>
                        {/if}
                    </div>
                </div>
                {if $f->getParameter('app_id') === 'crm'}
                    <div class="hide-when-field-disabled align-right">
                        <div class="field-advanced-settings">
                            {wa_action app="crm" module="settings" action="fieldEditor" f=$f fid=$fid prefix=$prefix parent=$parent}
                        </div>
                    </div>
                {/if}
            {/if}
        </td>
    </tr>
{/if}