<div class="crm-dialog-wrapper crm-settings-form-paragraph-edit-wrapper" data-template="1" style="display: none;">
    <div class="crm-dialog-background"></div>
    <div class="crm-dialog-block" style="min-width:700px;">
        <header class="crm-dialog-header">
            <h1>[`Text paragraph`]</h1>
        </header>

        <div class="crm-dialog-content">
            <textarea class="crm-paragraph-textarea"></textarea>
        </div>

        <footer class="crm-dialog-footer">
            <div class="crm-actions">
                <input class="button green crm-button js-some-action" type="button" value="[`Apply`]">
                <span style="margin: 0 4px;">[`or`]</span>
                <a class="js-close-dialog" href="javascript:void(0);">[`cancel`]</a>
            </div>
        </footer>
    </div>
</div>
