<div class="crm-form-page" id="crm-form-page">

    <div class="block crm-form-content">
        {include file="./SettingsFormConstructor.inc.html" inline}
    </div>

    {* dialog section *}
    {include file="./SettingsFormFieldEdit.inc.html" inline}
    {include file="./SettingsFormCheckboxEdit.inc.html" inline}
    {include file="./SettingsFormParagraphEdit.inc.html" inline}
    {include file="./SettingsFormAgreementCheckboxEdit.inc.html" inline}
    {include file="./SettingsFormButtonEdit.inc.html" inline}

    <script>
        (function($) {
            $.crm.title.set('[`Lead forms`]');

            $("#add-field-dropdown").waDropdown({
                hide: false
            });

            new crmSettingsForm({
                $wrapper: $("#crm-form-page"),
                $add_field_dropdown: $("#add-field-dropdown"),
                form: {$form|json_encode},
                available_fields: {$available_fields|json_encode},
                default_checked_fields: {$default_checked_fields|json_encode},
                lang: '{substr($wa->locale(), 0, 2)}',
                messages: {
                    'connection_failed': '[`Can not connect with the specified parameters to server`]',
                    'delete_confirm_title': '[`Delete source`]',
                    'delete_confirm_text': '[`Are you sure?`]',
                    'delete_confirm_button': '[`Delete`]'
                },
                captcha_is_invisible: {$captcha_is_invisible|json_encode},
				csrf: "{waRequest::cookie('_csrf', '')}"
            });
        })(jQuery);
    </script>
</div>
