{$_change_is_locked = false}
{if !empty($is_shop_supported) && !empty($use_shop_currencies)}
    {$_change_is_locked = true}
{/if}

{function _renderCurrency}
    {$_is_primary = ($_currency && !empty($currency) && $_currency.code === $currency.code)}
    <li class="c-currency" {if !empty($_currency.code)}data-code="{$_currency.code}"{/if} data-title="{if $_currency}{$_currency.title|escape}{/if}">
        <div class="flexbox middle wrap full-width">
            <div class="c-column middle c-column-name">
                <i class="fas fa-grip-vertical text-light-gray js-sort-toggle"></i>
                <span class="c-name js-name">{if !empty($_currency)}{$_currency.title|escape}{/if}</span>
                <span class="c-sign hint js-sign">{if !empty($_currency)}{$_currency.sign|escape}{/if}</span>
            </div>
            <div class="c-column middle c-column-rate">
                {if $_is_primary}
                    <span class="gray italic">[`Primary currency`]</span>
                {else}
                    <span>1</span>
                    <span class="c-current-code js-current-code">{if !empty($_currency)}{$_currency.code}{/if}</span>
                    <span>=</span>
                    <span class="c-visible">
                        <span class="js-rate-text">{if $_currency}{$_currency.rate|default:"1" + 0}{/if}</span>
                    </span>
                    <span class="c-hidden">
                        <input class="c-rate js-rate" name="rate" type="text" value="{if $_currency}{$_currency.rate|default:"1" + 0}{else}0{/if}">
                    </span>
                    <span class="c-primary-code js-primary-code">{if !empty($currency)}{$currency.code}{/if}</span>
                {/if}
            </div>
            <div class="c-column middle right c-column-actions">
                {if !$_is_primary && empty($_change_is_locked)}
                    <div class="c-actions">
                        <span class="flexbox middle wrap space-8 c-visible">
                            <button class="button small circle light-gray cursor-pointer custom-pr-0 js-edit-currency"><span class="icon"><i class="fas fa-cog " title="[`Edit currency`]"></i></span></button>
                            <button class="button small circle light-gray js-remove-currency"  title="[`Remove currency`]"><i class="fas fa-trash-alt text-red"></i></button>
                        </span>
                        <span class="c-hidden">
                            <button class="button small circle light-gray cursor-pointer custom-mr-0 js-save-currency" title="[`Save`]"><i class="fas fa-save text-blue"></i></button>
                            [`or`]
                            <button class="button small circle light-gray js-cancel" title="[`Cancel`]"><i class="fas fa-undo" ></i></button>
                        </span>
                    </div>
                {/if}
            </div>
        </div>

    </li>
{/function}

{capture assign="_currency_template_html"}{_renderCurrency _currency=[]}{/capture}

<div class="fields c-currencies-page" id="c-currencies-page">

    <div class="flexbox middle wrap full-width space-16">
        <div class="c-column">
            <h1 class="c-page-header">[`Currencies`]</h1>
        </div>
        <div class="c-column middle right">
            {if empty($_change_is_locked) && !empty($currencies)}
                <a class="button rounded small light-gray js-change-primary" href="javascript:void(0);"><i class="fas fa-dollar-sign text-blue"></i> [`Change primary currency`]</a>
            {/if}
        </div>
    </div>



    {if $is_shop_supported}
        <div class="c-shop-currency-toggle">

            <span class="switch smaller custom-mr-4" id="shop-currency-switch">
                <input class="js-shop-currency-toggle" id="js-shop-currency-ibutton" type="checkbox" name="use_shop_currencies" data-use-shop="{if !empty($use_shop_available)}true{/if}" {if $use_shop_currencies}checked{/if}>
            </span>
            <label for="js-shop-currency-ibutton" class="small">[`Copy Shop-Script currency settings`]</label>
        </div>
        {if $use_shop_currencies}
            <div class="block hint">[`Currency exchange rates changed in Shop-Script settings are updated in CRM in 1 minute.`]</div>
        {/if}
    {/if}
    <div class="c-currencies-group fields-group">
    <ul class="menu c-currencies-list js-currencies-list">
        {foreach $currencies as $_currency}
            {_renderCurrency _currency=$_currency}
        {/foreach}
    </ul>

    <div class="c-add-wrapper">
        <div class="wa-select">
            <select class="js-add-currency not-styled" {if !empty($_change_is_locked)}disabled{/if}>
                <option value="" selected disabled>[`Add currency`]...</option>
                {foreach $currency_list as $_code => $_title}
                    <option value="{$_code}" {if !empty($currencies[$_code])}disabled{/if}>{$_code|escape} {$_title['title']|escape}</option>
                {/foreach}
            </select>
        </div>
    </div>
    </div>
    {capture assign="_copy_shop_currencies_dialog_html"}
        <div class="dialog c-copy-shop-currencies-dialog" id="c-copy-shop-currencies-dialog">
            <div class="dialog-background"></div>
            <div class="dialog-body">
                <form>
                    <header class="dialog-header">
                        <h1>[`Copy Shop-Script currency settings`]</h1>
                    </header>

                    <div class="dialog-content">
                        <p>
                            [`New main currency rate`]: 1&nbsp;{if !empty($currency)}{$currency.code}{/if}&nbsp;=&nbsp;<input class="c-field small" type="number" name="rate" required>&nbsp;{$shop_currency.code}
                        </p>
                    </div>

                    <footer class="dialog-footer">
                        <div class="crm-actions">
                            <input class="button red js-confirm-button" type="submit" value="[`Copy`]">
                            <a class="button light-gray js-close-dialog js-cancel-button" href="javascript:void(0);">[`Cancel`]</a>
                        </div>
                    </footer>
                </form>
            </div>
        </div>
    {/capture}

    <script>
        (function ($) {
            new CRMSettingsCurrencies({
                $wrapper: $("#c-currencies-page"),
                currency_template_html: {$_currency_template_html|trim|strip|json_encode},
                copy_shop_currencies_dialog_html: {$_copy_shop_currencies_dialog_html|trim|strip|json_encode},
                currencies_is_locked: {if !empty($_change_is_locked)}true{else}false{/if},
                locales: {
                    confirm_delete_title: "[`Delete currency`] <span class=\"gray\">%currency_name</span>",
                    confirm_delete_text: "<p>[`After deletion it will be not possible to set deal and invoice amount in that currency.`]</p><p>[`Currency in existing deals and invoices will not be affected.`]</p>",
                    confirm_delete_button: "[`Delete`]",
                    confirm_cancel_button: "[`Cancel`]",
                    confirm_shop_title: "[`Copy Shop-Script currency settings`]",
                    confirm_shop_text: "[`Are you sure?`]",
                    confirm_shop_button: "[`Copy settings`]"
                },
                currencies: {$currency_list|json_encode}
            });

        })(jQuery);
    </script>
</div>
