{$title = "[`Settings`]"}

<div class="c-settings-page shadowed" id="c-settings-page">

    <script>
        ( function($) {
            $.crm.title.set({$title|json_encode});
        })(jQuery);
    </script>

    {capture assign="settings_content"}
        <div class="content bordered-left blank content-mobile-friendly">
            <div class="article">
                <div class="article-body">
                {if isset($settings_html) && is_string($settings_html)}
                    {$settings_html}
                {else}
                    {include file="$settings_template"}
                {/if}
                </div>
            </div>
        </div>
    {/capture}


    {if $is_admin}
        <div class="flexbox">
            <div class="sidebar blank width-15rem" id="c-sidebar-wrapper">
                {* SIDEBAR MENU ONLY FOR ADMIN *}

                {$_menu = [
                    [
                    "icon" => "fa-user-cog",
                    "name" => "[`Personal settings`]",
                    "uri" => "`$wa_app_url`settings/"
                    ],
                    [
                    "icon" => "fa-sliders-h",
                    "name" => "[`General settings`]",
                    "uri" => "`$wa_app_url`settings/general/"
                    ],
                    [
                        "icon" => "fa-briefcase",
                        "name" => "[`Companies`]",
                        "uri" => "`$wa_app_url`settings/companies/"
                    ],
                    [
                        "icon" => "fa-file-alt",
                        "name" => "[`Invoice templates`]",
                        "uri" => "`$wa_app_url`settings/templates/"
                    ],
                    [
                        "icon" => "fa-pound-sign",
                        "name" => "[`Currencies`]",
                        "uri" => "`$wa_app_url`settings/currencies/"
                    ],
                    [
                        "icon" => "fa-wallet",
                        "name" => "[`Payment`]",
                        "uri" => "`$wa_app_url`settings/payment/"
                    ],
                    [
                        "icon" => "fa-user",
                        "name" => "[`Vaults`]",
                        "uri" => "`$wa_app_url`settings/vaults/"
                    ],
                    [
                        "icon" => "fa-layer-group",
                        "name" => "[`Field constructor`]",
                        "uri" => "`$wa_app_url`settings/field/"
                    ],
                    [
                        "icon" => "fa-filter",
                        "name" => "[`Funnels`]",
                        "uri" => "`$wa_app_url`settings/funnels/"
                    ],
                    [
                        "icon" => "fa-list-ol",
                        "name" => "[`Deal loss reasons`]",
                        "uri" => "`$wa_app_url`settings/lostReasons/"
                    ],
                    [
                        "icon" => "fa-envelope",
                        "name" => "[`Notifications`]",
                        "uri" => "`$wa_app_url`settings/notifications/"
                    ],
                    [
                        "icon" => "fa-th",
                        "name" => "[`Web forms`]",
                        "uri" => "`$wa_app_url`settings/form/"
                    ],
                    [
                        "icon" => "fa-at",
                        "name" => "[`Email`]",
                        "uri" => "`$wa_app_url`settings/message-sources/email/"
                    ],
                    [
                        "icon" => "fa-comment-alt",
                        "name" => "[`Messengers`]",
                        "uri" => "`$wa_app_url`settings/message-sources/im/"
                    ],
                    [
                        "icon" => "fa-sms",
                        "name" => "[`SMS`]",
                        "uri" => "`$wa_app_url`settings/sms/"
                    ],
                    [
                        "icon" => "fa-phone-alt",
                        "name" => "[`PBX`]",
                        "uri" => "`$wa_app_url`settings/pbx/"
                    ]
                ]}

                {if $shop_app_exists}
                    {$_menu[] = [
                        "icon" => "fa-dollar-sign",
                        "name" => "[`Shop-Script integration`]",
                        "uri" => "`$wa_app_url`settings/shop/"
                    ]}
                {/if}

                {$cron_indicator_icon = ""}
                {if !crmSourceWorker::isCliOk() || !crmNotificationBirthdayWorker::isCliOk() || !crmRemindersRecap::isCliOk()
                    || !crmInvoice::isCliOk() || !crmDeal::isCliOk() || !crmShop::isCliOk()}
                    {$cron_indicator_icon = "<span class='error indicator inline'>!</span>"}
                {/if}
                {$_menu[] = [
                    "icon" => "fa-clock",
                    "name" => "[`Cron Jobs`] `$cron_indicator_icon`",
                    "uri" => "`$wa_app_url`settings/cron/",
                    "li_class" => "c-settings-sidebar-cron-job-item"
                ]}
                <div class="align-center custom-my-12 mobile-only">
                    <button class="button small circle light-gray js-expand-sidebar"><i class="fas fa-arrow-right"></i></button>
                </div>
                <aside class="c-settings-sidebar" id="c-settings-sidebar">
                    <ul class="menu stack with-icons" style="margin: 0;">
                        {foreach $_menu as $_item}
                            <li class="{$_item.li_class|default:''}">
                                <a href="{$_item.uri}"{if !empty($alias) && $_item.uri == $alias} data-alias="{$alias}"{/if}>
                                    {if !empty($_item.icon)}
                                        <i class="fas {$_item.icon}"></i>
                                    {/if}
                                    <span class="c-settings-sidebar-name">{$_item.name}</span>
                                </a>
                            </li>
                        {/foreach}
                    </ul>
                </aside>

            </div>
            {$settings_content}
        </div>
        <script>
            ( function($) {
                new CRMSettings({
                    $wrapper: $("#c-settings-page"),
                    $sidebar: $("#c-settings-sidebar")
                });
            })(jQuery);
        </script>
    {else}
        {$settings_content}
    {/if}

</div>
