<div class="crm-dialog-wrapper c-settings-form-agreement-checkbox-edit-wrapper" data-template="1" style="display: none;">
    <div class="crm-dialog-background"></div>
    <div class="crm-dialog-block">
        <header class="crm-dialog-header">
            <h1>[`Consent to terms`]</h1>
        </header>

        <div class="crm-dialog-content">
            <div class="fields">
                <div class="field c-field-id">
                    <div class="name">[`Field`]</div>
                    <div class="value"></div>
                </div>
                <div class="field c-field-html-label">
                    <div class="name">[`Terms description`]</div>
                    <div class="value c-html-label-textarea-wrapper">
                        <textarea name="params[html_label]"></textarea>
                    </div>
                </div>
                <div class="field c-field-checked-by-default">
                    <div class="name"></div>
                    <div class="value">
                        <label>
                            <input type="checkbox" name="params[default_checked]" value="1">
                            [`Checked by default`]
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <footer class="crm-dialog-footer">
            <div class="crm-actions">
                <input class="button green crm-button js-some-action" type="button" value="[`Apply`]">
                <span style="margin: 0 4px;">[`or`]</span>
                <a class="js-close-dialog" href="javascript:void(0);">[`cancel`]</a>
            </div>
        </footer>
    </div>
</div>
