<template class="crm-settings-form-edit-field-wrapper">
<div class="dialog">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header">
            <h1>[`Field settings`]</h1>
        </header>

        <form>
            <div class="dialog-content">
                <div class="block fields">
                    <div class="field crm-field-id">
                        <div class="name">[`Field`]</div>
                        <div class="value">
                            [`Description`] (ID=?)
                        </div>
                    </div>
                    <div class="field crm-field-caption">
                        <div class="name">[`Label in this form`]</div>
                        <div class="value">
                            <input type="text" name="params[caption]" value="">
                        </div>
                    </div>
                    <div class="field crm-field-captionplace">
                        <div class="name">[`Label placement`]</div>
                        <div class="value">
                            <div class="custom-mb-8">
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="params[captionplace]" value="left" checked="checked">
                                        <span></span>
                                    </span> [`left from field`]
                                </label>
                            </div>
                            <div class="custom-mb-8">
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="params[captionplace]" value="above">
                                        <span></span>
                                    </span> [`above of the field`]
                                </label>
                            </div>
                            <div class="custom-mb-8">
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="params[captionplace]" value="none">
                                        <span></span>
                                    </span> [`hide`]
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="field crm-field-subfield_captionplace" style="display: none;">
                        <div class="name">[`Subfield label placement`]</div>
                        <div class="value">
                            <div class="custom-mb-8">
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="params[subfield_captionplace]" value="left">
                                        <span></span>
                                    </span> [`left from field`]
                                </label>
                            </div>
                            <div class="custom-mb-8">
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="params[subfield_captionplace]" value="above" checked="checked">
                                        <span></span>
                                    </span> [`above of the field`]
                                </label>
                            </div>
                            <div class="custom-mb-8">
                                <label>
                                    <span class="wa-radio">
                                        <input type="radio" name="params[subfield_captionplace]" value="none">
                                        <span></span>
                                    </span> [`hide`]
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="field crm-field-redactor" style="display: none;">
                        <div class="name">[`Mode`]</div>
                        <div class="value">
                            <div class="crm-redactors-radio-block">
                                <div class="crm-redactors-radio-column">
                                    <label>
                                        <span class="wa-radio"><input type="radio" name="params[redactor]" value="" checked disabled><span></span></span>
                                        [`Plain text`]
                                        <img src="{$wa_app_static_url}img/plain-text-icon.png" class="crm-redactor-image">
                                    </label>
                                </div>
                                <div class="crm-redactors-radio-column">
                                    <label>
                                        <span class="wa-radio"><input type="radio" name="params[redactor]" value="1" disabled><span></span></span>
                                        [`Redactor`]
                                        <img src="{$wa_app_static_url}img/redactor-icon.png" class="crm-redactor-image">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field crm-field-placeholder" style="display: block;">
                        <div class="name">[`Placeholder`]</div>
                        <div class="value">
                            <input type="text" name="params[placeholder]" value="">
                        </div>
                    </div>

                    <div class="field crm-field-placeholder_confirm" style="display: none;">
                        <div class="name">[`Placeholder for confirm password input`]</div>
                        <div class="value">
                            <input type="text" name="params[placeholder_confirm]" value="">
                            <div class="custom-mt-8 crm-field-without_confirm">
                            <label class="value">
                                <span class="wa-checkbox"><input type="checkbox" name="params[without_confirm]">
                                    <span>
                                        <span class="icon">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </span>
                                </span>
                                [`Do not show password confirmation input`]
                            </label>
                            </div>
                        </div>
                    </div>

                    <div class="field crm-field-required">
                        <div class="name">
                            <label for="fcrm-field-param-required">[`Required`]</label>
                        </div>
                        <div class="value">
                            <label><span class="wa-checkbox"><input type="checkbox" id="fcrm-field-param-required" name="params[required]">
                                <span>
                                    <span class="icon">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </span>
                            </span> </label>
                        </div>
                    </div>

                    <div class="fields-group js-captcha-settings hidden">
                        <div class="field">
                            <div class="name"></div>
                            <div class="value">
                                <a href="{$captcha_settings_url}" target="_blank">
                                    <i class="fas fa-cog"></i> [`Captcha settings`]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="dialog-footer">
                <div class="crm-actions">
                    <input class="button crm-button js-some-action" type="submit" value="[`Apply`]">
                    <a class="button light-gray js-close-dialog" href="javascript:void(0);">[`Cancel`]</a>
                </div>
            </footer>
        </form>
    </div>
</div>
</template>
