<div class="c-vaults-page" id="c-vaults-page">
    <h1 class="c-page-header">[`Vaults`]</h1>
    <p>[`Use vaults to limit access to certain contacts for selected backend users. Add contacts to a vault and select the vault in users’ access rights settings.`]<br>
    [`If a contact is included in a vault, only users who have access to that vault can view the contact.`]</p>

    <div class="c-vaults-wrapper">
        {function _renderVault}
            {strip}
            <li class="c-vault-item" {if !empty($_vault)}data-id="{$_vault.id}"{/if}>
                <i class="icon16 sort js-sort-toggle"></i>
                <i class="icon16 color js-color" style="background: {$_vault.color|default:"transparent"|escape};"></i>
                <a href="javascript:void(0);" class="c-name js-name js-vault-edit">{$_vault.name|default:"[`Vault name`]"|escape}</a>
            </li>
            {/strip}
        {/function}

        {capture assign="_vault_template_html"}{_renderVault _vault=[]}{/capture}

        <ul class="menu-v c-vaults-list js-vaults-list">
            {foreach $vaults as $_vault}{_renderVault _vault=$_vault}{/foreach}
        </ul>

        <div class="c-add-wrapper">
            <a class="inline-link js-vault-add" href="javascript:void(0);"><i class="icon16 add"></i><b><i>[`Add vault`]</i></b></a>
        </div>
    </div>

    <script>
        ( function($) {
            new CRMSettingsVaults({
                $wrapper: $("#c-vaults-page"),
                vault_template_html: {$_vault_template_html|strip|json_encode},
                locales: {
                    saving: '<span class="c-hint"><i class="icon16 loading"></i> [`saving`]...</span>',
                    saved: '<span class="c-hint"><i class="icon16 yes"></i> [`saved`]</span>'
                }
            });
        })(jQuery);
    </script>
</div>