{strip}
    {function name="_renderFromContact" _contact=[]}
        {if isset($_contact.id)}
        <a href="{$wa_app_url}contact/{$_contact.id}/" target="_top" data-link="top" class="c-contact-link">
            <i class="icon userpic custom-mr-4" style="background-image: url({$_contact.photo_url_16});" title="{$_contact.name|escape}"></i>{$_contact.name|escape}
        </a>
            {if !empty($message.from)}
                <span style="color: #999">&lt;{$message.from|escape}&gt;</span>
            {/if}
        {else}
            {$_contact.name|escape}&nbsp;
            {if !empty($message.from)}
                <span style="color: #999">&lt;{$message.from|escape}&gt;</span>
            {/if}
        {/if}
    {/function}

    {function name="_renderToRecipient" recipient=[]}
        {if $recipient.contact_id > 0}
        <a href="{$wa_app_url}contact/{$recipient.contact_id}/" target="_top" data-link="top" class="c-contact-link">
            <i class="icon userpic custom-mr-4" style="background-image: url({$recipient.photo_url_16});" title="{$recipient.name|escape}"></i>
            {$recipient.name|escape}
        </a>
            <span style="color: #999">&lt;{$recipient.destination|escape}&gt;</span>
        {else}
            {$recipient.name|escape}&nbsp;
            <span style="color: #999">&lt;{$recipient.destination|escape}&gt;</span>
        {/if}
    {/function}

    {function name="_renderRecipient" _contact=[]}
        {if $_contact.contact_id}
            <a href="{$wa_app_url}contact/{$_contact.contact_id}/" target="_top" data-link="top" data-link="top" class="c-contact-link">
                <img src="{$_contact.photo}" alt="{$_contact.name|escape}" class="c-contact-photo">&nbsp;
                {$_contact.name|escape}
            </a>
            {if isset($_contact.destination)}
                <span style="color: #999">&lt;{$_contact.destination|escape}&gt;</span>
            {/if}
        {elseif !$_contact.contact_id && $_contact.name}
            {$_contact.name|escape}&nbsp;
            {if isset($_contact.destination)}
                <span style="color: #999">&lt;{$_contact.destination|escape}&gt;</span>
            {/if}
        {elseif isset($_contact.email)}
            <span style="color: black">{$_contact.destination|escape}</span>
        {/if}
    {/function}

    <div class="dialog c-message-show-body-dialog" id="js-message-show-body-dialog">
        <div class="dialog-background"></div>
        <div class="dialog-body">
            <header class="dialog-header">
                <div class="flexbox middle wrap full-width space-16">
                <h2 class="custom-mb-0">{strip_tags($message.subject)|escape}</h2>

                <div class="flexbox middle space-4 c-message-actions">
                    {if !empty($message.create_datetime)}
                        <span class="nowrap c-text-item">
                            {if $message.direction === "IN"}
                            <span class="icon size-20 custom-mr-4"><i class="fas fa-arrow-circle-left text-green import" title="[`incoming`]"></i></span>
                            {else}
                                <span class="icon size-20 custom-mr-4"><i class="fas fa-arrow-circle-right text-blue message-out" title="[`outgoing`]"></i></span>
                            {/if}
                            {$message.create_datetime|wa_datetime}
                        </span>
                    {/if}
                    <span class="c-button-items nowrap">
                    {if $message.direction === crmMessageModel::DIRECTION_IN}
                        <button class="button circle light-gray js-message-reply" title="[`Reply`]"
                            data-message-id="{$message.id|escape}"><i class="icon fas fa-undo"></i></button>


                        {if $message.transport == crmMessageModel::TRANSPORT_EMAIL}
                            <button class="button circle light-gray js-message-forward" title="[`Forward message`]"
                               data-message-id="{$message.id|escape}"><i class="icon fas fa-redo"></i></button>
                        {/if}

                    {/if}

                    {if $message.original}
                        <button class="button circle light-gray js-disable-router" href="?module=file&action=downloadEml&id={$message.id}"
                            title="[`Download original`]"><i class="icon fas fa-download"></i></button>
                    {/if}
                    
                    {if $message.transport === crmMessageModel::TRANSPORT_IM || $message.transport === crmMessageModel::TRANSPORT_EMAIL && $message.conversation_id}
                        {*<a href="{$wa_app_url}message/conversation/{$message.conversation_id}" class="small" style="padding: 13px 10px 12px;">[`open conversation`]</a>*}
                    {/if}
                    </span>
                </div>
                                    
            </div>
            </header>
            <div class="dialog-content">
                <div class="fields c-message-info">
                    <div class="js-message-data">
                        <div class="field">
                            <div class="name">[`From`]</div>
                            <div class="value small">{_renderFromContact _contact=$from}</div>
                        </div>

                        {if !empty($message.to)}
                            <div class="field custom-mt-4">
                                <div class="name">[`To`]</div>
                                <div class="value">
                                    <ul class="menu c-to-list">
                                        {foreach $to_list as $_recipient}
                                            <li>{_renderToRecipient recipient=$_recipient|default:0}</li>
                                        {/foreach}
                                    </ul>
                                </div>
                            </div>
                        {/if}

                        {if !empty($recipients)}
                            <div class="field">
                                <div class="name">[`Copy`]</div>
                                <div class="value">
                                    <ul class="menu c-copy-list">
                                        {foreach $recipients as $_recipient}
                                            {if $_recipient.type !== crmMessageRecipientsModel::TYPE_TO}
                                                <li>{_renderRecipient _contact=$_recipient}</li>
                                            {/if}
                                        {/foreach}
                                    </ul>
                                </div>
                            </div>
                        {/if}

                        {if !empty($deal)}
                            <div class="field">
                                <div class="name">[`Deal`]</div>
                                <div class="value">
                                    {if !empty($deal.id)}
                                        {$_funnel = $funnel[$deal.funnel_id]|default:null}
                                        {if $_funnel}
                                            {$_stage = $_funnel.stages[$deal.stage_id]|default:null}
                                            {if $_stage}
                                                <i class="icon fas fa-circle funnel-state" style="color: {$_stage.color|escape}" title="{$_funnel.name|escape} / {$_stage.name|escape}"></i>
                                                <a href="{$wa_app_url}deal/{$deal.id}/">{strip_tags($deal.name)|escape}</a>
                                            {else}
                                                [`Stage deleted`]
                                            {/if}
                                        {else}
                                            [`Funnel deleted`]
                                        {/if}
                                    {elseif !empty($deal.name)}
                                        <span style="color: #999;">{strip_tags($deal.name)|escape}</span>
                                    {/if}
                                </div>
                            </div>
                        {elseif !empty($clean_data)}
                            <div class="field">
                                <div class="name">[`Deal`]</div>
                                <div class="value">
                                    <span class="js-created-deal hidden"></span>
                                    <form class="deal-form">
                                        {$deal = $clean_data.deal}
                                        {$funnels = $clean_data.funnels}
                                        {$stages = $clean_data.stages}
                                        <div class="c-deal-value js-deal-value">
                                            <span class="c-deal-name c-deal-name-hidden js-deal-name">
                                                <input class="c-deal-name-input js-deal-name-input" type="text" name="deal[name]" autocomplete="off" placeholder="[`Type a deal name`]" />
                                                <span title="[`Cancel creation`]" class="c-remove-deal js-remove-deal"><i class="fas fa-times-circle text-red"></i></span>
                                            </span>
                                            <div class="c-select-deal js-select-deal">
                                                <div class="dropdown small js-deals-dropdown" id="dropdown-deals-body">
                                                    <button class="dropdown-toggle button light-gray js-visible-link" type="button" style="word-break: break-word;">
                                                        <span class="js-text">[`Empty`]</span>
                                                    </button>
                                                    <div class="dropdown-body">
                                                
                                                        <ul class="menu with-icons js-deals-list">
                                                            <li class="js-create-new-deal">
                                                                <a href="javascript:void(0);">
                                                                    <span class="js-text">[`Create new`]</span>
                                                                </a>
                                                            </li>
                                                            <li class="c-empty-deal c-empty-deal-hidden js-empty-deal">
                                                                <a href="javascript:void(0);">
                                                                    <span class="js-text">[`Empty`]</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <input class="js-field js-deal-id" name="deal[id]" type="hidden" value="none">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="c-select-funnel hidden js-select-funnel-wrapper">
                                                {$_active_funnel = reset($funnels)}
                                                {if !empty($deal.funnel_id) && !empty($funnels[$deal.funnel_id])}
                                                    {$_active_funnel = $funnels[$deal.funnel_id]}
                                                {/if}

                                                <div class="c-funnels-list" id="c-funnels-list">
                                                    <div class="dropdown small js-deals-dropdown" id="dropdown-funnels-list-body">
                                                        <button class="dropdown-toggle button light-gray js-visible-link" type="button" style="word-break: break-word;">
                                                            <span class="js-text">
                                                                {if !empty($_active_funnel.color)}
                                                                    <i class="icon fas fa-circle funnel-state" style="color: {$_active_funnel.color}"></i>
                                                                {/if}
                                                                <span class="js-name">{$_active_funnel.name|escape}</span>
                                                            </span>
                                                        </button>
                                                        <div class="dropdown-body">
                                                    
                                                            <ul class="menu with-icons ">
                                                                {strip}
                                                                    {foreach $funnels as $_funnel}
                                                                        <li class="{if $deal.funnel_id == $_funnel.id}selected{/if}">
                                                                            <a href="javascript:void(0);" data-id="{$_funnel.id|escape}">
                                                                                {if !empty($_funnel.color)}
                                                                                    <i class="icon fas fa-circle funnel-state" style="color: {$_funnel.color|escape}"></i>
                                                                                {/if}
                                                                                <span>{$_funnel.name|escape}</span>
                                                                            </a>
                                                                        </li>
                                                                    {/foreach}
                                                                {/strip}
                                                            </ul>
                                                            <input class="js-field js-select-deal-funnel" name="deal[funnel_id]" type="hidden" value="{$_active_funnel.id|escape}">
                                                        </div>
                                                    </div>

                                                    <script>
                                                        ( function($) {
                                                            $("#dropdown-funnels-list-body").waDropdown();
                                                            $("#dropdown-deals-body").waDropdown();

                                                        })(jQuery);
                                                    </script>
                                                </div>

                                                <div class="js-select-stage-wrapper" style="display: inline-block; vertical-align: top; padding-top: 3px;">
                                                    {include file="templates/actions/deal/DealStagesByFunnel.html" selected_stage=$deal.stage_id inline}
                                                </div>
                                            </div>
                                        </div>
                                        <i class="icon fas fa-save js-save-deal hidden"></i>
                                    </form>
                                </div>
                            </div>
                        {/if}
                    </div>
                </div>

                <div class="c-message-body js-message-body">
                    <div class="">{$message.body_sanitized}</div>
                    {if $message.attachments}
                        <div class="c-attachments-block">
                            <ul class="menu c-attachments-list">
                                {foreach $message.attachments as $a}
                                    <li>
                                        <i class="icon fas fa-paperclip attachment" style="margin-right: 8px;"></i>
                                        <a class="js-disable-router" href="?module=file&action=download&id={$a.id}">{$a.name|escape}</a><span class="c-size hint">{crmHelper::formatFileSize($a.size)}</span>
                                    </li>
                                {/foreach}
                            </ul>
                        </div>
                    {/if}
                </div>

                <div class="js-errors-place"></div>
            </div>

            <footer class="dialog-footer">
                <div class="c-layout">
                    <div class="c-column">
                        <div class="c-footer-actions js-dialog-footer">
                            <button class="button light-gray js-close-dialog" >[`Close`]</button>
                        </div>
                    </div>
                    {if $is_admin}
                    <div class="c-column middle right">
                        <a href="javascript:void(0);" class="button red js-delete-message">[`Delete message`]</a>
                    </div>
                    {/if}
            </footer>
        </div>

        <script>
            (function ($) {

                var $dialog = $("#js-message-show-body-dialog");

                    new CRMMessageBodyDialog({
                        $wrapper: $dialog,
                        is_admin: {$is_admin},
                        app_url: "{$wa_app_url}",
                        contact_id: {if $message.direction === 'IN'}{$from.id|default:0}{else}{$to.id|default:0}{/if},
                        message: {$message|json_encode},
                        locales: {
                            delete: "[`Delete`]",
                            delete_message: "[`Delete message`]",
                            delete_message_text: "{$delete_message_text}",
                            deal_empty: "[`Empty`]",
                            deal_create: "[`Create deal`]",
                            deal_add: "[`Add deal`]"
                        }
                    });
            })(jQuery);
        </script>
    </div>
{/strip}
