{$_back_uri = "{$wa_app_url}settings/message-sources/im/"}

<div class="c-settings-source-page" id="c-im-settings-source-page">
    <form class="crm-source-settings-form">

        <h1 class="c-page-header">
            <a href="{$_back_uri}" class="icon size-32 back js-back-button cursor-pointer"><i class="icon fas fa-arrow-left"></i></a>
            <img src="{$icon_url}">
            {if $source.id <= 0}[`New connection to instant messenger`]{else}{$source.name|escape}{/if}
        </h1>

        <div class="c-fields-section fields">

            {$blocks.specific_settings_block|default:''}

            {*<div class="field"><hr></div>*}

            {$blocks.with_contact|default:''}

            {*<div class="field"><hr></div>*}

            {$blocks.create_deal|default:''}

            {*<div class="field"><hr></div>*}

            {$blocks.responsible|default:''}

            <div class="bottombar sticky custom-mt-20 crm-form-buttons">
                <div class="custom-px-20 custom-py-16 blank c-layout">
                    <div class="c-column">
                        <input type="submit" class="button" value="[`Save`]">
                        <a class="button light-gray" href="{$wa_app_url}settings/message-sources/im/">[`Cancel`]</a>
                        <span class="crm-loading" style="display: none;">
                            <i class="fas fa-spinner fa-spin loading"></i>
                        </span>
                        <span class="crm-success-status" style="display: none;">
                            [`Saved`] <i class="fas fa-check-circle yes"></i>
                        </span>
                    </span>
                    </div>
                    {if $source.id > 0}
                        <div class="c-column middle right">
                            <div class="crm-delete-link-wrapper">
                                <a href="javascript:void(0);" class="button gray outlined crm-delete-source-link">
                                    <i class="fas fa-times-circle delete"></i> [`Delete this source`]
                                </a>
                            </div>
                        </div>
                    {/if}
                </div>
            </div>
        </div>
        <input type="hidden" name="source[id]" value="{$source.id}">
    </form>

    <script>
        ( function($) {
            new CRMSettingsSourceIm({
                $wrapper: $("#c-im-settings-source-page"),
                source: {$source|json_encode},
                messages: {
                    'delete_confirm_title': '[`Delete source`]',
                    'delete_confirm_text': '[`Are you sure?`]',
                    'delete_confirm_button': '[`Delete`]'
                }
            });
        })(jQuery);
    </script>

</div>
