<!DOCTYPE html>
<html>
<head>
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>

    {$wa->css()}
    <link href="{$wa_app_static_url}css/crm.css?v={$wa->version()}" rel="stylesheet">
    <link href="{$wa_app_static_url}css/crm2.css?v={$wa->version()}" rel="stylesheet">

    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.store.js?v={$wa->version()}"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/crm.js?v={$wa->version()}"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.js"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/deals.export.js?v={$wa->version()}"></script>
    <script>
        (function ($) {
            $.crm.app_url = {$wa_app_url|json_encode};
        })(jQuery);
    </script>
</head>
<body style="background: var(--background-color-blank); ">

{$class_id = 'crm-deal-export-wrapper'}
{$wrapper_id = uniqid($class_id)}

<div class="crm-dialog-wrapper {$class_id}" id="{$wrapper_id}">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header custom-mb-24">
            <h1>[`Export deals`]</h1>
        </header>
        <div class="dialog-content">
            <div class="crm-start-block">
                <p>
                    {_w('%d selected deal will be exported into CSV file', '%d selected deals will be exported into CSV file', $count)}
                </p>
                {if $dropped_ids_count > 0}
                    <p>
                        <i class="icon fas fa-exclamation"></i> {_w('%d deal will not be affected by the action due to insufficient access rights', '%d deals will not be affected by the action due to insufficient access rights', $dropped_ids_count)}
                    </p>
                {/if}
                <div class="fields">
                    <div class="field">
                        <div class="name">[`Separator:`]</div>
                        <div class="value">
                            <select name="separator">
                                {foreach waCSV::$delimiters as $_sep}
                                    <option value="{$_sep[0]}">{_ws($_sep[1])}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Encoding:`]</div>
                        <div class="value">
                            <select name="encoding">
                                {foreach $encoding as $v => $e}
                                    <option value="{$v}"{if $v=="utf-8"} selected="selected"{/if}>{$e}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name"></div>
                        <div class="value">
                            <label>
                                <input type="checkbox" name="export_fields_name" value="1">
                                [`Export fields name`]
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name"></div>
                        <div class="value">
                            <label>
                                <input type="checkbox" name="not_export_empty_columns" value="1">
                                [`Do not export empty columns`]
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="crm-process-block custom-mt-24" style="display: none;">
                <p>[`Exporting now. Please wait...`]</p>
                <div class="progressbar">
                    <div class="progressbar-line-wrapper text-inside">
                        <div class="progressbar-outer">
                            <div class="progressbar-inner" style="width: 0;">
                                <div class="progressbar-text">0%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {* FORM FOR DOWNLOAD FILE *}
            <form class="crm-download-file-form" method="post" action="">
                {$wa->csrf()}
                <input type="hidden" name="file" value="1">
            </form>

        </div>
        <footer class="dialog-footer custom-mt-24">
            <div class="dialog-footer--visible">
                <input class="button js-save" type="submit" value="[`Start export`]">
                <a class="button light-gray js-close-dialog crm-js-cancel" href="javascript:void(0);">[`Cancel`]</a>
                <i class="icon fas fa-spinner fa-spin loading crm-loading" style="display: none;"></i>
            </div>
            <div class="dialog-footer--hidden hidden">
                <a class="button js-download" download>[`Download`]</a>
                <button class="button gray js-close-dialog crm-js-cancel" href="javascript:void(0);">[`Close`]</button>
            </div>
        </footer>
    </div>
    <script>
        $(function () {
            new CRMDealsExport({
                '$wrapper': $('#{$wrapper_id}'),
                'ids': {$ids|json_encode}
            });
        });
    </script>
</div>
</body>
</html>
