<link rel="stylesheet" href="{$wa_app_static_url}css/log.css?{$wa->version()}">
<style>
    #c-content-block { height: 100%; }
</style>
<div class="c-live-page box contentbox c-live-page--before-load-timeline" id="c-live-page">

    <div class="blank">
        <header class="c-live-header">
            <div class="c-nav-wrapper flexbox full-width wrap space-16">
                <form class="js-filters-form">
                    <div class="flexbox space-8 wrap">
                        {* DROPDOWN ACTIONS *}
                        <div class="c-filter-wrapper">
                            <div class="dropdown" id="js-actions-filter-dropdown">
                                <button class="dropdown-toggle button light-gray small nowrap" type="button" style="width: 200px;">
                                    <div class="js-link-text align-left">
                                        {if !empty($selected_filter_action.color)}
                                            <i class="icon size-14 rounded" style="background-color: {$selected_filter_action.color};"></i>
                                        {/if}
                                        {$selected_filter_action.name|escape}&nbsp;<i class="icon10 darr"></i>
                                    </div>
                                </button>
                                <div class="dropdown-body">
                                    <ul class="menu">
                                        {foreach $filter_actions as $_filter_action}
                                            <li class="{if $selected_filter_action.id == $_filter_action.id}selected{/if}">
                                                <a href="{crmHelper::getUrl("type", $_filter_action.id)}">
                                                    {if !empty($_filter_action.color)}
                                                        <i class="icon size-16 rounded" style="background-color: {$_filter_action.color};"></i>
                                                    {/if}
                                                    {$_filter_action.name|escape}
                                                </a>
                                            </li>
                                        {/foreach}
                                    </ul>
                                </div>
                                <input name="type" value="{$selected_filter_action.id}" type="hidden">
                            </div>
                        </div>

                        {* DROPDOWN USERS *}
                        {$filter_users = [
                            "" => [
                                "id"           => 'all',
                                "name"         => "[`All users`]",
                                "photo_url_16" => "`$wa_url`wa-content/img/userpic20.jpg"
                            ]
                        ]}
                        {$filter_users = $filter_users + $users}

                        {if $list_params.user_id && !empty($filter_users[$list_params.user_id])}
                            {$selected_filter_user = $filter_users[$list_params.user_id]}
                        {else}
                            {$selected_filter_user = reset($filter_users)}
                        {/if}
                        <div class="c-filter-wrapper">
                            <div class="dropdown" id="js-users-filter-dropdown">
                                <button class="dropdown-toggle button light-gray small nowrap" type="button" style="width: 230px;">
                                    <div class="flexbox middle space-4">
                                        {if !empty($selected_filter_user.photo_url_16)}
                                            <i class="userpic icon size-16" style="background-image: url({$selected_filter_user.photo_url_16})"></i>
                                        {/if}
                                        <span class="text-ellipsis">{$selected_filter_user.name|escape}</span>
                                    </div>
                                </button>
                                <div class="dropdown-body" style="width: 230px;">
                                    <ul class="menu">
                                        {$params_user_id = ($list_params.user_id == 0) ? 'all' : $list_params.user_id}
                                        {foreach $filter_users as $_user}
                                            <li class="t-menu-item {if $params_user_id == $_user.id}selected{/if}" data-list_user_id="{$list_params.user_id}" data-user_id="{$_user.id}">
                                                <a href="{crmHelper::getUrl("user", $_user.id)}">
                                                    {if !empty($_user.photo_url_16)}
                                                        <i class="userpic icon size-16" style="background-image: url({$_user.photo_url_16})"></i>
                                                    {/if}
                                                    {$_user.name|escape}
                                                </a>
                                            </li>
                                        {/foreach}
                                    </ul>
                                </div>
                                <input name="user" value="{$selected_filter_user.id}" type="hidden">
                            </div>

                        </div>
                    </div>
                </form>
                <div class="c-dates-filter js-dates-filter">
                    <form>
                        {* DROPDOWN DATE *}
                        {$filter_dates = [
                            "30" => [
                                "id" => "30",
                                "name" => _w('Last %d day', 'Last %d days', 30),
                                "group_by" => "days",
                                "timeframe" => 30
                            ],
                            "90" => [
                                "id" => "90",
                                "name" => _w('Last %d day', 'Last %d days', 90),
                                "group_by" => "days",
                                "timeframe" => 90
                            ],
                            "365" => [
                                "id" => "365",
                                "name" => _w('Last %d day', 'Last %d days', 365),
                                "group_by" => "months",
                                "timeframe" => 365
                            ],
                            "all" => [
                                "id" => "all",
                                "name" => "[`All time`]",
                                "group_by" => "months",
                                "timeframe" => "all"
                            ],
                            "custom" => [
                                "id" => "custom",
                                "name" => "[`Select dates...`]",
                                "group_by" => "",
                                "timeframe" => "custom"
                            ]
                        ]}

                        {if $chart_params.timeframe && !empty($filter_dates[$chart_params.timeframe])}
                            {$selected_filter_date = $filter_dates[$chart_params.timeframe]}
                        {else}
                            {$selected_filter_date = reset($filter_dates)}
                        {/if}

                        <div class="flexbox wrap middle space-8 c-nav-wrapper">
                            <div class="c-filter-wrapper c-hidden-part js-hidden-part {if $chart_params.timeframe == "custom"}is-shown{/if}">
                                <div class="c-filter-choose-date">
                                    [` from`]
                                    <input class="js-datepicker" type="text" value="{$chart_params.start_date|wa_date}" style="width:100px;" data-selector="js-start-field">
                                    <input class="js-start-field" name="from" type="hidden" value="{$chart_params.start_date}">
                                    [` to`]
                                    <input class="js-datepicker" type="text" value="{$chart_params.end_date|wa_date}" style="width:100px;" data-selector="js-end-field">
                                    <input class="js-end-field" name="to" type="hidden" value="{$chart_params.end_date}">

                                    <div class="wa-select">
                                        <select name="groupby" class="js-group-field">
                                            <option value="days" {if $chart_params.group_by == "days"}selected{/if}>[`by day`]</option>
                                            <option value="months" {if $chart_params.group_by == "months"}selected{/if}>[`by month`]</option>
                                        </select>
                                    </div>
                                    <input type="submit" class="button small light-gray" value="[`Apply`]">
                                </div>
                            </div>
                            <div class="dropdown" id="js-dates-filter-dropdown">
                                <button class="dropdown-toggle button light-gray small nowrap" type="button" style="width: 200px;">
                                    <div class="js-link-text align-left">{$selected_filter_date.name|escape}</div>
                                </button>
                                <div class="dropdown-body right">
                                    <ul class="menu js-list">
                                        {foreach $filter_dates as $_date}
                                            <li class="js-toggle {if $selected_filter_date.id == $_date.id}selected{/if}" data-timeframe="{$_date.timeframe}" data-group="{$_date.group_by}">
                                                <a href="javascript:void(0);">{$_date.name|escape}</a>
                                            </li>
                                        {/foreach}
                                    </ul>
                                </div>
                                <input class="js-timeframe-field" name="timeframe" type="hidden" value="{$selected_filter_date.timeframe}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </header>

        <section class="c-chart-section custom-my-32 js-chart-section">
            <div class="c-chart-wrapper js-chart-wrapper"></div>
            <div class="c-hint-wrapper js-hint-wrapper">
                <div class="line">
                    <span class="c-app"></span>: <span class="c-value"></span>
                </div>
                <div class="line">
                    <span class="c-date"></span>
                </div>
            </div>
        </section>

        <div class="skeleton height-0 height-100-mobile" id="c-log-iframe-spa-skeleton">
            {for $i = 0 to 10}
                <span class="skeleton-line"></span>
            {/for}
        </div>
        <section class="c-log-section" id="c-log-section">
            {* TIMELINE *}
            {* TODO: need remove {include file="./LogLiveTimeline.html" inline} *}
            <iframe
                id="c-log-iframe-spa"
                src="{$wa_app_url}frame/history/?type={$selected_filter_action.id}&user={$list_params.user_id}"
                frameborder="0"
            ></iframe>
            <script>
                var iframe = document.getElementById('c-log-iframe-spa');
                iframe.addEventListener('load', function () {
                    const skeleton = document.getElementById('c-log-iframe-spa-skeleton');
                    const app = iframe.contentWindow.document.getElementById('app');
                    if (app) {
                        const resizeObserver = new ResizeObserver(entries => {
                            const height = entries[0].target.scrollHeight;
                            if (height > 75) {
                                if (skeleton.hasChildNodes()) {
                                    skeleton.innerHTML = '';
                                    document.getElementById('c-live-page').classList.remove('c-live-page--before-load-timeline');
                                }
                                iframe.style.height = height + 'px';
                            }
                        });
                        resizeObserver.observe(app);
                    }
                })
            </script>
        </section>
    </div>

    <script>
        ( function($) {
            $("#js-actions-filter-dropdown").waDropdown();
            $("#js-users-filter-dropdown").waDropdown();
            $("#js-dates-filter-dropdown").waDropdown();

            new CRMLogLive({
                $wrapper: $("#c-live-page"),
                chartData: {$chart|json_encode},
                chartParams: {$chart_params|json_encode},
                locales: {
                    months: [
                        "{_ws('January', 'January')}",
                        "{_ws('February', 'February', 1)}",
                        "{_ws('March', 'March')}",
                        "{_ws('April', 'April')}",
                        "{_ws('May', 'May')}",
                        "{_ws('June', 'June')}",
                        "{_ws('July', 'July')}",
                        "{_ws('August', 'August')}",
                        "{_ws('September', 'September')}",
                        "{_ws('October', 'October')}",
                        "{_ws('November', 'November')}",
                        "{_ws('December', 'December')}"
                    ]
                }
            });
        })(jQuery);
    </script>
</div>
