<!-- TODO: remove -->
{$logs = $log}
{$count = $log|count}

{$_timestamp = waRequest::request("timestamp")}
{$months = waDateTime::getMonthNames()}

<section class="c-activity-section" id="c-activity-section">
    {if !empty($log)}
        {$_period = 60 * 60 * 24 * 30}
        {$_last_datetime = time()}
        {if !empty($_timestamp)}
            {$_last_datetime = $_timestamp}
        {/if}
        {$_max_id = null}

        <ul class="c-activity-list js-activity-list">
            {foreach $logs as $_log}
                {if !empty($_log.id)}
                    {$_max_id = $_log.id}
                {/if}

                {$time = strtotime($_log.create_datetime)}
                {$current_month_index = date('n', $time)}
                {$before_month_index = date('n', $_last_datetime)}
                {$_long_pause = ( $_last_datetime - $time > $_period) }
                {$_last_datetime = $time}

                {if $current_month_index != $before_month_index}
                    <li class="c-month-wrapper">
                        <h5 class="heading">{$months[date('n', $time)]} {date('Y', $time)}</h5>
                    </li>
                {/if}

                {$_item_classes = []}
                {if !empty($_log.is_empty)}
                    {$_item_classes[] = "is-empty"}
                {/if}
                {if $current_month_index != $before_month_index}
                    {$_item_classes[] = "is-first"}
                {/if}
                {if $_log.action == "note_add" && $_log.object_id > 0}
                    {$_item_classes[] = "is-note"}
                {/if}
                {if $_log.action == "reminder_done" && $_log.object_id > 0}
                    {$_item_classes[] = "is-reminder"}
                {/if}

                {$_log.object_type = $_log.object_type|default:''}
                {if $_log.object_type}
                    {$_type = strtolower($_log.object_type)}
                    {if !empty($filter_actions[$_type])}
                        {$_color = $filter_actions[$_type]["color"]}
                    {/if}
                {/if}

                <li class="c-activity-item {$_item_classes|join:" "}" data-id="{$_log.id}" data-timestamp="{$_last_datetime}" id="c-activity-item-{$_log.id}">
                    <span class="c-activity-point js-log-marker" {if !empty($_color)}style="background: {$_color};"{/if}>

                        {if $_log.object_type == crmLogModel::OBJECT_TYPE_FILE}
                            <i class="icon10 c-file"></i>


                        {elseif $_log.object_type == crmLogModel::OBJECT_TYPE_REMINDER}
                            <i class="icon10 c-reminder"></i>


                        {elseif $_log.object_type == crmLogModel::OBJECT_TYPE_NOTE}
                            <i class="icon10 c-note"></i>


                        {elseif $_log.object_type == crmLogModel::OBJECT_TYPE_INVOICE}
                            <i class="icon10 c-invoice"></i>


                        {elseif $_log.object_type == crmLogModel::OBJECT_TYPE_CALL}
                            <i class="icon10 phone"></i>


                        {elseif $_log.object_type == crmLogModel::OBJECT_TYPE_MESSAGE}
                            <i class="icon10 email"></i>

                        {/if}

                    </span>

                    <div class="c-activity-block">
                        <div class="inline-content">

                            {strip}
                                {if !empty($_log.create_datetime)}
                                    <span class="c-datetime hint">{waDateTime::format('humandatetime', $_log.create_datetime)}</span>
                                {/if}

                                {if $_log.actor_contact_id && isset($actors[$_log.actor_contact_id])}
                                    {$_actor = $actors[$_log.actor_contact_id]}
                                    {$_photo = $_actor->getPhoto(32)}
                                    <a href="{$wa_app_url}contact/{$_actor.id}/" class="c-user hint">{strip}
                                        {if !empty($_photo)}
                                            <i class="icon16 userpic20" style="background-image: url({$_photo});"></i>
                                        {/if}
                                        {$_actor.name|escape}
                                    {/strip}</a>
                                {else}
                                    <span class="hint">[`unknown user`]</span>
                                {/if}


                                {if $_log.object_type !== crmLogModel::OBJECT_TYPE_ORDER_LOG && !empty($_log.action_name)}
                                    <span class="c-action hint">{$_log.action_name|escape}</span>
                                {/if}
                            {/strip}
                        </div>
                        <div class="inline-content">
                            {* FILE *}
                            {if $_log.action == "file_add"}
                                {if !empty($_log.object_id) && !empty($_log.name)}
                                    <a class="js-disable-router" href="{$wa_backend_url}crm/?module=file&action=download&id={$_log.object_id}">{$_log.name|escape}</a>
                                    <span class="c-size hint">{crmHelper::formatFileSize($_log.file_size)}</span>
                                {else}
                                    <span>{$_log.name|escape}</span>
                                {/if}
                            {/if}

                            {* FILE *}
                            {if $_log.action == "file_delete"}
                                <span>{$_log.name|escape}</span>
                            {/if}

                            {* INVOICE *}
                            {if $_log.action == "invoice_add" || $_log.action == "invoice_issue"}
                                {if !empty($_log.object_id)}
                                    {if !empty($invoices[$_log.object_id])}
                                        {$_number = $invoices[$_log.object_id].number|escape}
                                    {else}
                                        {$_number = $_log.object_id}
                                    {/if}
                                    {if $can_manage_invoices}
                                        <a class="js-disable-router" href="{$wa_app_url}invoice/{$_log.object_id}/">
                                            [`#`]{$_number}
                                        </a>
                                    {else}
                                        <span>[`#`]{$_number}</span>
                                    {/if}
                                {/if}
                                {if !empty($invoices[$_log.object_id])}
                                    {$_state = crmInvoice::getState($invoices[$_log.object_id].state_id)}
                                    <span class="bold">
                                        {$invoices[$_log.object_id].amount|wa_format_amount_currency:$invoices[$_log.object_id].currency_id}
                                    </span>
                                    <span class="c-state {strtolower($invoices[$_log.object_id].state_id)}">
                                        {$_state.name|escape|default:$invoices[$_log.object_id].state_id}
                                    </span>
                                    <span class="hint">{$invoices[$_log.object_id].summary|escape}</span>
                                {/if}
                            {/if}

                            {if !empty($_log.inline_html)}
                                {$_log.inline_html|strip}
                            {/if}

                            {if $_log.action == "reminder_done" && !empty($reminders[$_log.object_id])}
                                {$_reminder_types = crmConfig::getReminderType()}
                                {$_reminder = $reminders[$_log.object_id]}
                                {if !empty($_reminder.type) && !empty($_reminder_types[$_reminder.type])}
                                    {$_active_reminder_type = $_reminder_types[$_reminder.type]}
                                {/if}
                                {if $_reminder.type !== "OTHER" && !empty($_active_reminder_type)}
                                    {strip}
                                        {if !empty($_active_reminder_type.icon)}<i class="icon16 {$_active_reminder_type.icon}"></i>{/if}
                                        <span class="c-reminder-type">{$_active_reminder_type.name|escape}</span>
                                    {/strip}
                                {/if}
                            {/if}
                        </div>

                        {* COMPLETE REMINDER *}
                        {if $_log.action == "reminder_done"}
                            {$_text = $_log.content|escape|default:""}
                            {if !empty($_text)}
                                <div class="line">
                                    {if !empty($_log.rights)}
                                        <div class="c-quick-content-toggle-wrapper js-quick-content-toggle-wrapper">
                                            <form>
                                                <textarea class="c-text-field js-textarea" name="data[content]">{$_text}</textarea>
                                                <input type="hidden" name="data[id]" value="{$_log.object_id}">
                                            </form>
                                        </div>
                                        <script>
                                            ( function($) {
                                                var $log = $("#c-activity-item-{$_log.id}");
                                                new CRMTimelineReminder({
                                                    $wrapper: $log
                                                });
                                            })(jQuery);
                                        </script>
                                    {else}
                                        <span class="js-text">{$_text|nl2br}</span>
                                    {/if}
                                </div>
                            {/if}
                        {/if}

                        {if !empty($_log.deal) && empty($deal)}
                            <div class="line">
                                {strip}
                                <span class="c-deal-wrapper">
                                    {$_funnel_name = $_log.deal.funnel.name|escape}
                                    {$_funnel_color = $_log.deal.funnel.color}
                                    <i class="icon16 funnel-state svg-icon" data-color="{$_funnel_color}" title="{$_funnel_name}"></i>

                                    {if !empty($_log.deal.stage)}
                                        {$_stage_name = $_log.deal.stage.name|escape}
                                        {$_stage_color = $_log.deal.stage.color}
                                        <span class="c-state" style="background: {$_stage_color}" title="{$_stage_name}">{$_stage_name}</span>
                                    {/if}

                                    <a href="{$wa_app_url}deal/{$_log.deal.id}/">{$_log.deal.name|escape}</a>
                                </span>
                                {/strip}
                            </div>
                        {/if}

                        {if !empty($_log.link)}
                            <div class="line">
                                {$_log.link|strip}
                            </div>
                        {/if}

                        {* NOTE *}
                        {if $_log.action == "note_add"}
                            {$_text = $_log.content|escape|nl2br|default:""}
                            {if $_log.object_id > 0}
                                <div class="line c-note-form" id="c-note-form-{$_log.id}">
                                    <form action="" method="post">
                                        <div class="c-view is-shown">
                                            <div class="c-text c-edit-note js-edit-note">{$_text}</div>
                                        </div>
                                        <div class="c-edit">
                                            <textarea name="">{$_log.content|escape|default:""}</textarea>
                                            <div class="c-actions">
                                                <div class="c-layout">
                                                    <div class="c-column middle">
                                                        <input class="button green js-save-note" type="button" value="[`Save`]">
                                                        [`or`]
                                                        <a class="inline-link js-default" href="javascript:void(0);"><b><i>[`cancel`]</i></b></a>
                                                    </div>
                                                    <div class="c-column middle right">
                                                        <a class="inline-link js-remove-note" href="javascript:void(0);"><i class="icon16 delete"></i><b><i>[`Delete`]</i></b></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-confirm">
                                            <p>[`Are you sure?`]</p>
                                            <div class="c-actions">
                                                <input class="button red js-confirm-delete" type="button" value="[`Delete`]">
                                                [`or`]
                                                <a class="inline-link js-confirm-cancel" href="javascript:void(0);"><b><i>[`cancel`]</i></b></a>
                                            </div>
                                        </div>
                                    </form>

                                    {if !empty($_log.object_id)}
                                        <script>
                                            ( function($) {
                                                var $wrapper = $("#c-note-form-{$_log.id}");
                                                new CRMNoteForm({
                                                    $wrapper: $wrapper,
                                                    app_url: "{$wa_backend_url}crm/",
                                                    id: {$_log.object_id}
                                                });
                                            })(jQuery);
                                        </script>
                                    {/if}
                                </div>
                            {else}
                                <div class="line">{$_text}</div>
                            {/if}
                        {/if}

                        {* SHOP ORDER LOG *}
                        {if $_log.object_type === crmLogModel::OBJECT_TYPE_ORDER_LOG}
                            <div class="line">
                                {include file="./LogOrderLogItem.html" log_item=$_log.order_log_item|default:[] inline}
                            </div>
                        {/if}

                    </div>

                    <script>
                        ( function($) {
                            new CRMLogItem({
                                $wrapper: $("#c-activity-item-{$_log.id}"),
                                app_url: {$crm_app_url|default:''|json_encode}
                            });
                        })(jQuery);
                    </script>
                </li>
            {/foreach}
        </ul>

        {if ($count >= 50)}
            <div class="c-paging-wrapper" data-max-id="{$_max_id}"><i class="icon16 loading"></i>[`Loading...`]</div>
        {/if}
    {/if}

</section>
