<div class="c-upgrade-page shadowed" id="c-upgrade-page">

<style>

    .c-premium-appicon { position: relative; z-index: 10; height: 9rem; background: url('{$wa_url}wa-apps/crm/img/crm-magic.svg') no-repeat center / 8rem; }
    .c-premium-feature { border-radius: 0.75rem; background: var(--background-color-blank); margin-bottom: 1.5rem; padding: 1.5rem 2rem; }
    .c-premium-feature.halfwidth { width: 40%; margin-bottom: 0; padding-bottom: 0.5rem; }
    .c-premium-feature.halfwidth h3 { font-size: 1.25rem; }

    @media screen and (max-width: 760px) {
        .c-premium-feature.halfwidth { width: 100%; }
    }

</style>

{$_upgrade_url = sprintf(
    'https://www.%s/my/buy/upgrade-to-premium/crm/',
    _w('webasyst.com')
)|cat:'?domain='|cat:str_replace('http://','',str_replace('https://','',$wa->domainUrl()))}

{capture "getpremiumbutton"}
{if !$is_premium}
<figure class="box align-center t-upgrade-ad">
    <a href="{$_upgrade_url}" class="button rounded green largest" target="_blank">[`Upgrade to premium`]</a>
</figure>
{/if}
{/capture}

{function name="_render_feature" _p=[] _is_premium_license=false _halfwidth=false _is_free_feature=false}
<div class="card c-premium-feature{if $_halfwidth} halfwidth{/if}">
    <div class="flexbox space-12 wrap-mobile">
        <div class="wide">
            <h3>
                {if !$_is_free_feature}<i class="fas fa-star text-yellow custom-mr-4"></i>{/if}
                {$_p.title}
            </h3>
        </div>
        <div>
            {if empty($_p.eta)}
                <span class="nowrap badge green"><i class="fas fa-check"></i> {if !$_is_free_feature}{if $is_premium}[`Enabled`]{else}[`Available now`]{/if}{/if}</span>
            {elseif trim($_p.eta)}
                <span class="nowrap badge {$_p.eta_class|default:'light-gray'}"><i class="fas fa-clock"></i> {$_p.eta}</span>
            {/if}
        </div>
    </div>
    <div class="small custom-mt-16{if $is_premium} hidden{/if}">{if !empty($_p.body)}{$_p.body}{/if}</div>
</div>
{/function}

<main class="article">

    <article class="article-body">

        <div class="c-premium-appicon"></div>

        {if $is_premium}

            <h1 class="top-padded align-center">[`You are all set!`]</h1>
            <p class="small align-center">
                [`Thank you for being a premium user and for supporting the project.`]<br>
                [`With premium, you are among the first to have access to all features.`]<br>
                <a class="bold" href="{sprintf(
                    'https://www.%s/store/app/crm/',
                    _w('webasyst.com')
                )}" target="_blank">{sprintf(
                    'https://www.%s/store/app/crm/',
                    _w('webasyst.com')
                )}</a>
            </p>

            {if method_exists($wa->installer, 'reviewWidget')}
                <div style="max-width: 300px;" class="custom-my-24 custom-mx-auto">
                    {$wa->installer->reviewWidget('app/crm', ['is_inline' => true])}
                </div>
            {/if}

        {else}

            <h1 class="top-padded align-center width-70 custom-mx-auto custom-mb-16 width-100-mobile">
                [`Give your team the best tools for working with customers the better way and making more money`]
            </h1>

        {/if}

        {$_premium_stuff = []}

        {$_premium_stuff[] = [
          'title' => '[`CRM widget in Shop-Script orders`]',
          'body' => '[`Mini popup widget with all info about a customer directly on the order-viewing screen in Shop-Script. Conversations, calls, deals, invoices, notes, reminders — all the main CRM features are within one click when working on an order. You can chat with a customer via this interactive widget right within the Shop-Script interface.`]'
        ]}

        {$_premium_stuff[] = [
          'title' => '[`Popup forms`]',
          'body' => '[`Embedding lead forms on your site, either as a dialog or as a drawer over the general layout, displayed according to your custom rules, without making changes to design templates. Simply select the conditions for the widget to be displayed. The data submitted by website visitors are saved to your contacts and deals database according to each form’s setup.`]'
        ]}

        {$_premium_stuff[] = [
          'title' => '[`AI assistant in conversations with clients`]',
          'body' => '[`Based on the Webasyst AI service, it uses the content published on your website and creates detailed prompts from your clients’ messages or your additional comments. The AI assistant finds answers based on the information indexed by Webasyst partner’s search engine (Yandex). It provides quick ready-to-use replies to achieve higher sales.`]'
        ]}

        {$_premium_stuff[] = [
          'title' => '[`AI replies from internal knowledge base`]',
          'eta' => '[`Later`]',
          'eta_class' => 'light-gray',
          'body' => '[`The same except for the use of an internal (non-public) knowledge base in the Hub app as well as custom text documents.`]'
        ]}

        {$_premium_stuff[] = [
          'title' => '[`Auto pilot with AI chatbot`]',
          'eta' => '[`Later`]',
          'eta_class' => 'light-gray',
          'body' => '[`Bot-generated replies 24/7 without human intervention. Also based on Webasyst AI. Once set up, it may only require the participation of your staff upon a special command from a client, or according to your working schedule when your teammates are online and no use of the auto pilot is required.`]'
        ]}

        {$_premium_stuff[] = [
          'title' => '[`More automation!`]',
          'eta' => '[`Fall 2025`]',
          'eta_class' => 'yellow',
          'body' => '[`Setting up custom action rules for various system events in the “event → action” format. An event can be either an HTTP request (webhook), or the execution of a basic CRM action such as auto-issuing of an invoice upon deal creation or moving a deal to a certain stage, or setting a reminder to a selected employee.`]'
        ]}
        {$_premium_stuff[] = [
          'title' => '[`Recurrent invoices`]',
          'eta' => '[`Fall 2025`]',
          'eta_class' => 'yellow',
          'body' => '[`Auto-issuing (repeating) invoices by schedule.`]'
        ]}
        {$_premium_stuff[] = [
          'title' => '[`More reports on user’ work efficiency`]',
          'eta' => '[`Fall 2025`]',
          'eta_class' => 'yellow',
          'body' => '[`Work load and efficiency of your employees within CRM in handling deals, invoices, calls, and conversations.`]'
        ]}
        {$_premium_stuff[] = [
          'title' => '[`Client balance in custom units`]',
          'eta' => '[`Later`]',
          'eta_class' => 'light-gray',
          'body' => '[`“<em>You have 4 pre-paid visits to coach</em>”, “<em>3.5 standard hours remaining</em>”, etc. Keep the client balance in any conventional units of your choice.`]'
        ]}
        {$_premium_stuff[] = [
          'title' => '[`Client LTV`]',
          'eta' => '[`Fall 2025`]',
          'eta_class' => 'yellow',
          'body' => '[`Main, important, and comprehensible client metric with the sorting and filtering options. Calculated from the data of paid invoices and Shop-Script orders.`]'
        ]}
        {$_premium_stuff[] = [
          'title' => '[`Online chat widget on website`]',
          'eta' => '[`Later`]',
          'eta_class' => 'light-gray',
          'body' => '[`With all advantages of AI features, and not requiring the use of third-party services.`]'
        ]}
        {$_premium_stuff[] = [
          'title' => '[`More widgets`]',
          'eta' => '[`Later`]',
          'eta_class' => 'light-gray',
          'body' => '[`Even more kinds of widgets to capture clients on your site: videos, phone callbacks, quizzes.`]'
        ]}

        {$_premium_stuff[] = [
          'title' => '[`Suggest a feature`]',
          'eta' => ' ',
          'body' => sprintf_wp(
              'Share your feedback and suggestions, <a %s>post your ideas on the forum ›</a>',
              sprintf(
                  'href="https://support.%s/forum/ideas/" target="_blank"',
                  _w('webasyst.com')
              )
          )
        ]}

        {$smarty.capture.getpremiumbutton}

        {foreach $_premium_stuff as $_p}
            {_render_feature _p=$_p _is_premium_license=$is_premium}
        {/foreach}
        <p class="align-center gray small">[`All scheduled features will be delivered as free updates via Installer.`]</p>

        {$smarty.capture.getpremiumbutton}


    </article>

</main>

</div>
