{* LIST *}

<div class="c-invoices-wrapper">

    <ul class="list c-invoices-list js-invoices-list">
        {foreach $invoices as $_invoice}
            {include file="./InvoiceSidebar.item.inc.html" invoice=$_invoice inline}
        {/foreach}
    </ul>

    {if !empty($invoices)}
        <div class="c-loading-wrapper js-lazyload custom-mb-24" data-offset="{$list_params.offset + $list_params.limit}" style="text-align: center">
            <i class="fas fa-spinner wa-animation-spin loading"></i> <span class="text-gray">[`Loading`]...</span>
        </div>
    {/if}

</div>
