{$wrapper_id = uniqid('js-deal-attach-dialog')}
<div class="dialog crm-dialog-wrapper c-deal-attach-dialog js-deal-attach-dialog" id="{$wrapper_id}">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header">
            <h1>[`Attach to another deal`]</h1>
        </header>

        <div class="dialog-content">
            <p>[`Link this invoice to another deal`]</p>
            <div class="c-invoice-deal js-invoice-deal">
                {include file="templates/actions/message/MessageConversation.dealSelector.inc.html" inline}
                <input name="invoice_id" type="hidden" value="{$invoice_id|default:0}">
            </div>
        </div>

        <footer class="dialog-footer">
            <div class="flexbox middle crm-actions">
                <input class="button crm-button js-save-button custom-mr-8" type="submit" value="[`Save`]">
                <a href="javascript:void(0);" class="button light-gray js-close-dialog">[`Cancel`]</a>
                {if !empty($deal['id'])}
                <span class="custom-ml-auto button gray outlined c-change-toggle js-detach-deal" title="[`Detach from deal`]">
                    <i class="fas fa-times-circle close"></i>
                    [`Detach from deal`]
                </span>
                {/if}
            </div>
        </footer>
    </div>
</div>
