{if $iframe}
{$_locale_string = substr($wa->locale(), 0, 2)}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    <base target="_parent" />

    {* CSS *}
    {$wa->css()}
    <style>
        .iframe-style {
            background: var(--background-color-blank);
        }
        .iframe-style .c-invoice-edit-page .fields-group.blank {
            background: var(--background-color) !important;
        }
        .iframe-style .bottombar.c-fixed-bottombar {
            background: var(--background-color-blank);
            box-shadow: none !important;
        }
    </style>
    <link href="{$wa_app_static_url}js/jquery/jquery-ui.css?v={$wa->version()}" rel="stylesheet">
    <link href="{$wa_app_static_url}css/crm.css?v={$wa->version()}" rel="stylesheet">
    <link href="{$wa_app_static_url}css/crm2.css?v={$wa->version()}" rel="stylesheet">
    <link href="{$wa_url}wa-content/js/redactor/2/redactor.css?v{$wa->version(true)}" rel="stylesheet">

    {wa_js}
        {$wa_url}wa-content/js/jquery/jquery-3.6.0.min.js
        {$wa_app_static_url}js/jquery/jquery-ui.min.js
        {$wa_url}wa-content/js/jquery-plugins/jquery.store.js
        {$wa_url}wa-content/js/redactor/2/redactor.min.js
        {$wa_url}wa-content/js/jquery-wa/wa.js
    {/wa_js}

    {if $_locale_string != 'en'}
        <script src="{$wa_app_static_url}js/jquery/i18n/datepicker-{$_locale_string}.js?v={$wa->version()}"></script>
        <script src="{$wa_url}wa-content/js/redactor/2/{$_locale_string}.js?v{$wa->version(true)}"></script>
    {/if}

    {wa_js}
        {$wa_app_static_url}js/crm.js
        {$wa_app_static_url}js/invoice.js
        {$wa_app_static_url}js/contact.add.js
    {/wa_js}

    {* CRM CORE *}
    <script>
        (function ($) {
            {* lang for wysiwyg *}
            $.crm.lang = {$_locale_string|json_encode};

            {* need for redirects or url generation *}
            $.crm.app_url = {$wa_app_url|json_encode};

            {* need for redirects or url generation *}
            $.crm.backend_url = {$wa_backend_url|json_encode};
        })(jQuery);
    </script>

    {$wa->js()}
</head>
<body class="iframe-style">
{/if}

{$_title = '[`Invoice`]'}

{$_contact_id = ""}
{$_contact_name = ""}
{$_company_name = ""}
{if !empty($contact)}
    {$_exists = $contact->exists()}
    {$_userpic = $contact->getPhoto(32)}
    {$_contact_id = $contact.id}
    {$_contact_name = $contact->getName()}
    {$_company_name = $contact->get('company')}
{/if}
{$_is_admin = $wa->user()->isAdmin($wa->app())}
{$_can_use_shop = ( !empty($shop_supported) && !empty($has_shop_rights) )}

{$company = reset($companies)}
{if !empty($invoice.company_id) && !empty($companies[$invoice.company_id])}
    {$company = $companies[$invoice.company_id]}
{/if}

{$_locale_string = substr($wa->locale(), 0, 2)}
{$_is_ru_locale = false}
{if $_locale_string == "ru"}{$_is_ru_locale = true}{/if}
{$hidden_input_style = "visibility: hidden;width: 0;min-width: 0;border: 0;padding: 0;"}

<div class="c-invoice-edit-page " id="c-invoice-edit-page">

    <form action="/">
        <h1 class="c-header flexbox middle space-12 wrap">
            {if $iframe}
                <a href="javascript:void(0);"class="back middle js-cancel-button{if !empty($invoice.id)} js-disable-router{/if} larger"><i class="fas fa-arrow-circle-left"></i></a>
            {else}
                <a href="javascript:void(0);"class="mobile-only back middle js-invoice-hide-mobile"><i class="fas fa-arrow-circle-left"></i></a>
            {/if}
            <span>
                [`Invoice`] [`#`]
                <input class="c-number js-invoice-number short" type="text" name="invoice[number]" placeholder="123" value="{$invoice.number|escape}">
            </span>
            <span>
                [`issued on`]
                <span>
                    <input class="c-date js-invoice-datepicker short" type="text" value="{$invoice.invoice_date|wa_date}">
                    <input name="invoice[invoice_date]" type="hidden" value="{$invoice.invoice_date}">
                </span>
            </span>
        </h1>

        <div class="c-contacts-wrapper fields custom-mt-24">
            <div class="fields-group blank">
            <div class="field">
                <div class="name">
                    [`Expires in`]
                    <span id="tooltip-expires" data-wa-tooltip-content="[`Optional field`]">
                        <i class="fas fa-question-circle text-light-gray"></i>
                    </span>
                    <script>
                        ( function($) {
                            $("#tooltip-expires").waTooltip();
                        })(jQuery);
                    </script>
                </div>
                {$not_empty_date = !empty($invoice.due_days) || !empty($invoice.due_date)}
                <div class="value">
                    <span class="switch small" id="switch-due-date-show">
                        <input type="checkbox" name="invoice[due_date_show]" {if $not_empty_date}checked{/if}>
                    </span>
                    <script>
                    ( function($) {
                        $("#switch-due-date-show").waSwitch({
                            change: function(active, wa_switch) {
                                if (active) {
                                    $(".c-due-date").removeClass('hidden');
                                }
                                else {
                                    $(".c-due-date").addClass('hidden');
                                }
                             }
                        });
                    })(jQuery);
                    </script>
                    <div class="c-due-date custom-pt-8 {if !$not_empty_date}hidden{/if}">
                        <input class="js-due-days-field shortest" type="text" name="invoice[due_days]" value="{if !empty($invoice.due_days) && $invoice.due_days > 0}{$invoice.due_days|escape}{/if}" pattern="^\d*$">
                        [`days`]
                        <div class="c-due-date-wrapper state-with-inner-icon c-datepicker right custom-pl-12">
                            <input class="js-invoice-due-datepicker" value="{$invoice.due_date|wa_date|default:""}" type="text">
                            <span class="icon js-focus-on-field"><i class="fas fa-calendar-alt"></i></span>
                            <input name="invoice[due_date]" type="hidden" value="{$invoice.due_date|default:""}">
                        </div>
                        <a href="javascript:void(0);" class="inline-link small js-clear-due-date" style="{if empty($invoice.due_date)}display: none;{/if}"> <span class=""><i class="fas fa-times-circle"></i> [`clear`]</span></a>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="name">[`Billed To`]</div>
                <div class="value">
                    <div class="c-contact-toggle js-contact-toggle flexbox wrap space-20">
                        {strip}
                        <div class="c-profile-block flexbox space-8" {if empty($contact)}style="display: none"{/if}>
                            <div class="js-profile-image flexbox middle">
                                <img src="{if !empty($_userpic)}{$_userpic}{/if}" class="userpic userpic-20">
                            </div>
                            <span class="js-name bold">{if !empty($contact)}{$_contact_name|escape}{/if}</span>
                            <span class="js-company-name">{if !empty($contact) && $_company_name}{$_company_name|escape}{/if}</span>
                        </div>
                        {/strip}
                        <a class="inline-link js-change-contact" href="javascript:void(0);"><span class="js-label" data-change-text="[`Change`]">{if !empty($contact.id)}<i class="fas fa-pen custom-pr-8"></i><span class="">[`Change`]</span>{else}<i class="fas fa-users custom-pr-8"></i><span class="">[`Set contact`]</span>{/if}</span></a>
                        <input class="js-contact-id" type="text" name="invoice[contact_id]" value="{if !empty($contact)}{$_contact_id}{/if}" style="{$hidden_input_style}">
                    </div>
                </div>
            </div>

            {if $deal}
            <div class="field">
                <div class="name">[`Deal`]</div>
                <div class="value">
                    <div class="c-deal-toggle js-deal-toggle">
                        <b class="break-words js-deal-name">
                            {$_funnel_color = 'lightgray'}
                            {if !empty($funnel) && !empty($funnel.color)}{$_funnel_color = $funnel.color}{/if}
                            <span class="icon custom-mr-4" style="color: {$_funnel_color};">
                            {if $deal.status_id == crmDealModel::STATUS_WON}
                                <i class="fas fa-flag-checkered"></i>
                            {elseif $deal.status_id == crmDealModel::STATUS_LOST}
                                <i class="fas fa-ban"></i>
                            {elseif empty($funnel.icon)}
                                <i class="fas fa-briefcase"></i>
                            {else}
                                <i class="{$funnel.icon} funnel-state"></i>
                            {/if}
                            </span> {$deal.name|escape}
                        </b>
{* 83.6957 *}
{*                        <a href="javascript:void(0);" class="c-deal-wrapper c-dotted js-attach-other-deal">*}
{*                            <i class="icon fas fa-pen"></i> [`link to another deal`]*}
{*                        </a>*}
{*                        <a class="inline-link js-detach-deal" href="javascript:void(0);">*}
{*                            <i class="icon fas fa-times-circle"></i> [`Detach from deal`]*}
{*                        </a>*}
{*                    {elseif !empty($clean_data.deal)}*}
{*                        <a href="javascript:void(0);" class="flexbox middle js-associate-deal nowrap">*}
{*                            <i class="custom-mr-8 fas fa-plus add"></i>*}
{*                            [`Associate with a deal`]*}
{*                        </a>*}
                    </div>
                </div>
            </div>
            {/if}
            <input name="invoice[deal_id]" type="hidden" value="{$invoice.deal_id}">

            <div class="field">
                <div class="name">[`Payment recipient`]</div>
                <div class="value flexbox wrap-mobile">
                    {if $companies}
                        <div class="wa-select">
                            <select class="js-company-select not-styled text-ellipsis" name="invoice[company_id]">
                                {foreach $companies as $_company}
                                    <option value="{$_company.id}"{if $_company.id == $company.id} selected{/if}>
                                        {$_company.name|escape}
                                    </option>
                                {/foreach}
                            </select>
                        </div>
                    {else}
                        <span class="small"><i class="fas fa-exclamation-triangle text-orange"></i>[`To add invoices, set up at least one company.`]</span>
                        <input type="text" name="invoice[company_id]" value="" style="{$hidden_input_style}">
                    {/if}

                    {if !empty($_is_admin)}
                        <span onclick='window.open("{$wa_app_url}settings/companies/")' class="company-settings-link custom-ml-4 custom-ml-0-mobile custom-mt-4-mobile semibold cursor-pointer"><i class="fas fa-cog small"></i> [`Company settings`] <i class="fas fa-external-link-alt smaller"></i></span>
                    {/if}
                </div>
            </div>

            <div class="field {if $currencies|@count <= 1}hidden{/if}" >
                <div class="name">[`Currency`]</div>
                <div class="value">
                    <div class="wa-select">
                        <select name="invoice[currency_id]" class="js-currency-field not-styled text-ellipsis">
                            {foreach $currencies as $_currency}
                                <option value="{$_currency.code}" {if $_currency.code == $invoice.currency_id}selected{/if} data-sign="{$_currency.sign}">{$_currency.title}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>

        </div>
        </div>


        <div class="c-product-table fields">
            {function tableRow}
                <tr>
                    <td class="c-number" aria-label="[`#`]">
                        <span class="c-field js-product-number">{if !empty($_index)}{$_index}{else}1{/if}</span>
                    </td>
                    <td class="c-name" aria-label="[`Product or service`]">

                        {* NAME AUTOCOMPLETE *}
                        <div class="c-name-autocomplete {if !empty($_can_use_shop)}js-name-autocomplete{/if}">
                            <input class="js-name-field" type="text" placeholder="[`Product or service name`]" value="{$_item.name|escape|default:""}">

                            <ul class="c-hidden-list ui-menu js-hidden-list"></ul>

                            <input type="hidden" class="js-product-field" value="{$_item.product_id|default:""}">
                        </div>

                    </td>
                    <td class="c-amount right" aria-label="[`Qty`]">
                        <input class="js-amount-field" type="text" placeholder="1" value="{if !empty($_item.quantity)}{floatval($_item.quantity)}{/if}">
                    </td>
                    <td class="c-tax right" aria-label="[`Tax`]">

                        {* TAX DROPDOWN *}
                        {$_is_changed = false}
                        {if !empty($_item.tax_percent) && !empty($_item.tax_type)}
                            {if $_item.tax_percent != $invoice.tax_percent || $_item.tax_type != $invoice.tax_type}
                                {$_is_changed = true}
                            {/if}
                        {/if}

                        <div class="c-tax-dropdown js-tax-dropdown {if !empty($_is_changed)}is-changed{/if}">
                            {if $company}
                                <input class="c-tax-percent-field js-product-tax-percent" type="text" value="{if !empty($_item.tax_percent) && $_item.tax_type != "NONE"}{floatval($_item.tax_percent)}%{else}[`without`] {$company["tax_name"]|escape}{/if}" readonly>
                            {/if}
                            <input class="js-product-tax-type" type="hidden" value="{$_item.tax_type|default:""}">
                            <ul class="c-hidden-list ui-menu js-hidden-list"></ul>
                        </div>

                    </td>
                    <td class="c-price right" aria-label="[`Price`]">
                        {$_price = ""}
                        {if !empty($_item.price)}
                            {$_price = floatval($_item.price)}
                            {$_price = sprintf('%0.2f', $_price)}
                            {if $_is_ru_locale}{$_price = str_replace(".", ",", $_price)}{/if}
                        {/if}
                        <input class="js-price-field" data-type="price" type="text" placeholder="0,00" value="{$_price}">
                    </td>
                    <td class="c-total right" aria-label="[`Amount`]">
                        <span class="c-field js-product-total">0,00</span>
                    </td>
                    <td class="desktop-and-tablet-only">
                        <a href="javascript:void();" class="c-remove js-remove-row"><i class="fas fa-times-circle text-gray"></i></a>
                    </td>
                    <td class="mobile-only width-100">
                        <button class="button light-gray small js-remove-row"><i class="fas fa-times-circle text-gray"></i> [`Remove`]</button>
                    </td>
                </tr>
            {/function}

            {capture assign="_row_template_html"}{tableRow}{/capture}
            <div class="fields-group blank custom-p-8-mobile">
            <table class="c-products-table">

                <thead>
                    <tr>
                        <th class="c-number">[`#`]</th>
                        <th class="c-name">[`Product or service`]</th>
                        <th class="c-amount right">[`Qty`]</th>
                        <th class="c-tax right">
                            <span class="js-tax-header">[`Tax`]</span>
                        </th>
                        <th class="c-price right">[`Price`]</th>
                        <th class="c-total right">[`Amount`]</th>
                    </tr>
                </thead>
                <tbody>
                    {$_index = 1}
                    {if !empty($invoice.items)}
                        {foreach $invoice.items as $_item}
                            {tableRow _item=$_item _index=$_index}
                            {$_index = $_index + 1}
                        {/foreach}
                    {/if}
                    {tableRow _item=[] _index=$_index}
                </tbody>
            </table>
            </div>
                <table class="c-products-table">
                <tfoot>
                    <tr>
                        <td colspan="5" class="right">[`Subtotal`]</td>
                        <td class="c-total right">
                            <span class="js-subtotal">0,00</span>
                        </td>
                    </tr>
                    <tr>

                        <td colspan="5" class="right custom-py-8">
                            <span class="js-empty-tax" style="display: none">[`Tax rules are not set up for the selected company.`]
                                <a href="#" data-href="{$wa_backend_url}crm/settings/companies/" class="js-empty-tax-link">
                                    [`Set up`]
                                </a>
                            </span>
                            <div class="wa-select">
                                <select class="js-tax-toggle small not-styled" title="[`Tax`]">
                                    {* rendered by JS *}
                                </select>
                            </div>
                            <input class="js-tax-percent" name="invoice[tax_percent]" type="hidden">
                            <input class="js-tax-type" name="invoice[tax_type]" type="hidden">
                            <input class="js-tax-name" name="invoice[tax_name]" type="hidden">
                        </td>
                        <td class="c-total right">
                            <span class="js-tax">0,00</span>
                        </td>
                    </tr>
                    <tr class="large bold">
                        <td colspan="5" class="right">[`Total`]</td>
                        <td class="c-total right">
                            <span class="js-total">0,00</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="c-comment-wrapper">
            <textarea class="js-wysiwyg" name="invoice[comment]" placeholder="[`Type your comment here`]">{$invoice.comment_sanitized|escape}</textarea>
        </div>

        <footer class="c-actions js-footer-actions bottombar sticky c-fixed-bottombar">
            <button class="button js-submit-button" type="submit">{if !empty($invoice.id)}[`Save`]{else}[`Create`]{/if}</button>
            {if empty($invoice.id)}
                <a href="{$wa_app_url}invoice/{if !empty($invoice_id)}{$invoice_id}/{/if}" class="button light-gray js-cancel-button">[`Cancel`]</a>
            {else}
                <a href="{$wa_app_url}invoice/{$invoice.id}/" class="button light-gray js-disable-router js-cancel-button">[`Cancel`]</a>
            {/if}
        </footer>

        <input name="invoice[id]" value="{ifset($invoice.id)}" type="hidden">
    </form>

    {capture assign="_confirm_dialog_template"}
        <div class="dialog crm-confirm-dialog" id="c-invoice-change-currency-dialog">
            <div class="dialog-background"></div>
            <div class="dialog-body">
                <header class="dialog-header">
                    <h1>[`Recalculate prices`]</h1>
                </header>
                <div class="dialog-content">
                    <p>[`You have changed the invoice currency.`]<br>[`Recalculate the prices of items at the appropriate rate?`]</p>
                </div>
                <footer class="dialog-footer">
                    <div class="crm-actions">
                        <button class="button js-change-currency-with-price">[`Recalculate`]</button>
                        <button class="button js-change-currency">[`Do not change prices`]</button>
                        <button class="button light-gray js-close-dialog js-cancel-dialog">[`Cancel`]</button>
                    </div>
                </footer>
            </div>

            <script>
                ( function($) {
                    var $dialog = $("#c-invoice-change-currency-dialog"),
                        dialog = $dialog.data("dialog");

                    $dialog.on("click", ".js-change-currency-with-price", function(event) {
                        event.preventDefault();
                        dialog.options.changeCurrencyWithPrice();
                        dialog.close();
                    });

                    $dialog.on("click", ".js-change-currency", function(event) {
                        event.preventDefault();
                        dialog.options.changeCurrency();
                        dialog.close();
                    });
                })(jQuery);
            </script>
        </div>
    {/capture}

    <script>
        ( function($) {
            $.crm.title.set({$_title|json_encode});

            var invoice_id = {if !empty($invoice.id)}{$invoice.id}{else}false{/if};

            // set active in sidebar
            setTimeout( function() {
                $(document).trigger("viewInvoice", invoice_id);
            }, 100);

            new CRMInvoiceEdit({
                $wrapper: $("#c-invoice-edit-page"),
                $wa_app_url: {$site_url|json_encode},
                companies: {$companies|json_encode},
                company_id: {if !empty($invoice.company_id)}{$invoice.company_id}{else}false{/if},
                shop_supported: {if !empty($_can_use_shop)}true{else}false{/if},
                currencies: {$currencies|json_encode},
                supported_currencies: {$supported_currencies|default:[]|json_encode},
                invoice_id : invoice_id,
                row_template_html: {$_row_template_html|json_encode},
                confirm_dialog_template: {$_confirm_dialog_template|json_encode},
                locale: "{if $_is_ru_locale}ru{else}en{/if}",
                tax: {
                    name: {$invoice.tax_name|json_encode},
                    percent: {$invoice.tax_percent|json_encode},
                    type: {$invoice.tax_type|json_encode}
                },
                locales: {
                    tax: "[`tax`]",
                    no_tax: "[`without`] %name",
                    include_tax: "[`including`] %name %value",
                    append_tax: "%name %value",
                    empty_contact: "[`Contact is required`]",
                    deal_detach_title: "[`Detach from deal`]",
                    deal_detach_text: "[`Do you really want to detach this invoice from deal “<strong>%s</strong>”?`]",
                    deal_detach_confirm_button: "[`Detach`]",
                    deal_empty: "[`Empty`]",
                    archived: "[`(archived)`]"
                }
            });
        })(jQuery);
    </script>
</div>

{if $iframe}
<script>
    new CrmInvoiceIframe();
</script>
</body>
</html>
{/if}
