{strip}
{$_states = [
    "DRAFT" => [
        "name" => _w('Draft'),
        "icon" => "status-gray-tiny",
        "class" => "draft"
    ],
    "PENDING" => [
        "name" => _w('Pending'),
        "icon" => "status-green-tiny",
        "class" => "pending"
    ],
    "PROCESSING" => [
        "name" => _w('Processing'),
        "icon" => "light-bulb",
        "class" => "processing"
    ],
    "PAID" => [
        "name" => _w('Paid'),
        "icon" => "yes-bw",
        "class" => "paid"
    ],
    "REFUNDED" => [
        "name" => _w('Refunded'),
        "icon" => "no-bw",
        "class" => "refunded"
    ],
    "ARCHIVED" => [
        "name" => _w('Archived'),
        "icon" => "trash",
        "class" => "archived"
    ]
]}

{$_userpic = $invoice.contact->getPhoto(50)}

{$_state = false}
{if $invoice.state_id && !empty($_states[$invoice.state_id])}
    {$_state = $_states[$invoice.state_id]}
{/if}

{$_invoice_classes = []}
{if !empty($invoice_id) && $invoice.id === $invoice_id}
    {$_invoice_classes[] = "selected"}
{/if}
{if !empty($_state)}
    {$_invoice_classes[] = $_state.class}
{/if}
{if !empty($invoice_max_id) && $invoice.id > $invoice_max_id}
    {$_invoice_classes[] = "highlighted"}
{/if}

<li class="c-invoice {$_invoice_classes|join:" "}" data-id="{$invoice.id}">
    <a class="flexbox full-width middle box js-disable-router" href="{$wa_app_url}invoice/{$invoice.id}/">
        {if !empty($_userpic)}
            <div class="image custom-mr-8">
                <img src="{$_userpic}" class="userpic userpic-48">
            </div>
        {/if}
        <div class="c-invoices-details wide">
            {if !empty($invoice.number)}
                <div class="flexbox middle">
                    {*<i class="{$wa->crm->convertIcon($_state.icon)} fa-xs"></i>*}
                    <span class="c-number semibold">№{$invoice.number|escape}</span>
                    {if !empty($invoice.amount)}
                    <div class="wide align-right"><span class="count c-price">{$invoice.amount|wa_currency_html:$invoice.currency_id}</span></div>
                    {/if}
                </div>
            {/if}
            <div class="small black custom-my-4 break-words">{$wa->crm->contactName($invoice.contact.name)}</div>
            <div class="line">
                <strong class="badge uppercase nowrap opacity-90 c-bg custom-mr-8" style="font-size: 68%;">{if $_state}{$_state.name}{/if}</strong>
                <span class="text-gray smaller">{$invoice.invoice_date|wa_date:'humandate'}</span>
            </div>
        </div>
    </a>
</li>

{/strip}
