<div class="dialog c-invoice-contact-add-dialog" id="c-invoice-contact-add-dialog">
    <div class="dialog-background"></div>
    <div class="dialog-body" style="overflow-y: auto;">
        <form>
            <header class="dialog-header">
                <h1>[`Set client`]</h1>
            </header>

            <div class="dialog-content">
                {include file="../deal/DealContactForm.inc.html" hide_role=true inline}
            </div>

            <footer class="dialog-footer">
                <input class="button js-some-action" type="submit" value="[`Select`]">
                <button class="button light-gray js-close-dialog">[`Cancel`]</button>
            </footer>

            {$wa->csrf()}
        </form>
    </div>

    <script>
        ( function($) {
            new CRMInvoiceContactAdd({
                $wrapper: $("#c-invoice-contact-add-dialog"),
                locales: {
                    empty_name: "[`Client contact data required`]",
                }
            });
        })(jQuery);
    </script>
</div>
