{strip}

<div class="dialog crm-confirm-dialog" id="crm-confirm-dialog">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header">
            <h1>{if !empty($title)}{$title}{else}%title%{/if}</h1>
        </header>

        <div class="dialog-content js-content">{if !empty($text)}{$text}{else}%text%{/if}</div>

        <footer class="dialog-footer">
            <div class="crm-actions">
                <button class="button red crm-button js-confirm-dialog js-confirm-button custom-mr-8">{if !empty($ok_button)}{$ok_button}{else}%button%{/if}</button>
                <a class="button light-gray js-close-dialog js-cancel-dialog" href="javascript:void(0);">[`Cancel`]</a>
                <span class="icon loading crm-loading" style="margin-top: 7px; margin-left: 2px; display: none;"><i class="fas fa-spinner fa-spin" ></i></span>
            </div>
        </footer>
    </div>
</div>

{/strip}
