{strip}
    {$title = $title|default:'[`Access denied`]'}
    {$text = $text|default:'<p>[`You have no permission to access this page.`]</p><p>[`Please refer to your system administrator.`]</p>'}
    <div class="dialog crm-access-denied-dialog" id="crm-access-denied-dialog">
        <div class="dialog-background"></div>
        <div class="dialog-body">
            <header class="dialog-header">
                <h1>{$title}</h1>
            </header>

            <div class="dialog-content js-content">{$text}</div>

            <footer class="dialog-footer">
                <div class="crm-actions">
                    <input class="button red crm-button js-confirm-dialog js-confirm-button" type="button" value="[`Close`]">
                </div>
            </footer>
        </div>
    </div>
{/strip}
