{$_is_admin = $wa->user()->isAdmin($wa->app())}

{if !$is_reload}
<nav class="sidebar-mobile-toggle">
    <div class="box align-center">
        <a class="js-toggle-menu" href="javascript:void(0);">
            <i class="fas fa-bars"></i>&nbsp;
            [s`Menu`]
        </a>
    </div>
</nav>

    <div class="sidebar-body c-sidebar-block" id="c-sidebar-block">
        {/if}
        <ul class="menu">
            <li>
                <a href="{$wa_app_url}contact/" data-wa-tooltip-content="[`Contacts`]">
                    {if isset($contacts_count)}
                        <span class="count js-count">{$contacts_count}</span>
                    {/if}
                    <i class="fas fa-users"></i>
                    <span class="name">[`Contacts`]</span>
                    {if !empty($contacts_new_count)}
                        <strong class="c-badge badge small js-indicator">{if $contacts_new_count < 100}{$contacts_new_count}{else}99+{/if}</strong>
                    {/if}
                </a>
            </li>

            {if !empty($deals_has_access)}
                <li>
                    <a href="{$wa_app_url}deal/" data-wa-tooltip-content="[`Deals`]">
                        {if isset($deals_count)}
                            <span class="count js-count">{$deals_count}</span>
                        {/if}
                        <i class="fas fa-funnel-dollar"></i>
                        <span class="name">[`Deals`]</span>
                        {if !empty($deals_new_count)}
                            <strong class="c-badge badge small js-indicator">{if $deals_new_count < 100}{$deals_new_count}{else}99+{/if}</strong>
                        {/if}
                    </a>
                </li>
            {/if}

            <li{if waRequest::param('module') == 'reminder'} class="selected"{/if}>
                <a href="{$wa_app_url}reminder/" data-wa-tooltip-content="[`Reminders`]">
                    <i class="fas fa-bell"></i>
                    <span class="name">[`Reminders`]</span>
                    {if !empty($reminders_due_count)}
                        <strong class="c-badge badge small js-indicator">{if $reminders_due_count < 100}{$reminders_due_count}{else}99+{/if}</strong>
                    {/if}
                </a>
            </li>

            {if $can_manage_invoices}
                <li{if waRequest::param('module') == 'invoice'} class="selected"{/if}>
                    <a href="{$wa_app_url}invoice/" data-wa-tooltip-content="[`Invoices`]">
                        {if isset($invoices_count)}
                            <span class="count js-count">{$invoices_count|default:""}</span>
                        {/if}
                        <i class="fas fa-file-invoice-dollar"></i>
                        <span class="name">[`Invoices`]</span>
                        {if !empty($invoices_new_count)}
                        <strong class="c-badge badge small js-indicator">{if $invoices_new_count < 100}{$invoices_new_count}{else}99+{/if}</strong>
                        {/if}
                    </a>
                </li>
            {/if}

            <li{if waRequest::param('module') == 'log'} class="selected"{/if}>
                <a href="{$wa_app_url}live/" data-wa-tooltip-content="[`Live`]">
                    <i class="fas fa-bolt"></i>
                    <span class="name">[`Live`]</span>
                </a>
            </li>

            {if !empty($calls_has_access)}
                <li{if waRequest::param('module') == 'call'} class="selected"{/if}>
                    <a href="{$wa_app_url}call/" data-wa-tooltip-content="[`Calls`]">
                        <span class="count">{if isset($calls_count)}{$calls_count}{/if}</span>
                        <i class="fas fa-phone-alt"></i>
                        <span class="name">[`Calls`]</span>
                        {if !empty($calls_new_count)}
                        <strong class="c-badge badge small js-indicator">{if $calls_new_count < 100}{$calls_new_count}{else}99+{/if}</strong>
                        {/if}
                    </a>
                </li>
            {/if}

            <li{if waRequest::param('module') == 'message'} class="selected"{/if}>
                <a href="{$wa_app_url}message/" data-wa-tooltip-content="[`Messages`]">
                    <span class="count hidden">{if isset($messages_count)}{$messages_count}{/if}</span>
                    <i class="fas fa-comments"></i>
                    <span class="name">[`Messages`]</span>
                    {if !empty($messages_new_count)}
                    <strong class="c-badge badge small js-indicator">{if $messages_new_count < 100}{$messages_new_count}{else}99+{/if}</strong>
                    {/if}
                </a>
            </li>

            <li{if waRequest::param('module') == 'report'} class="selected"{/if}>
                <a href="{$wa_app_url}report/" data-wa-tooltip-content="[`Reports`]">
                    <i class="fas fa-chart-bar"></i>
                    <span class="name">[`Reports`]</span>
                </a>
            </li>
        </ul>
{if !$is_reload}
    </div>

  
    <div class="sidebar-footer shadowed">
        <ul class="menu">
            {if $_is_admin}
                <li{if waRequest::param('module') == 'plugins'} class="selected"{/if}>
                    <a href="{$wa_app_url}plugins/#/" data-wa-tooltip-content="[`Plugins`]">
                        <i class="fas fa-plug"></i>
                        <span class="name">[`Plugins`]</span>
                    </a>
                </li>
            {/if}

            <li{if waRequest::param('module') == 'settings'} class="selected"{/if}>
                <a href="{$wa_app_url}settings/" data-wa-tooltip-content="[`Settings`]">
                    <i class="fas fa-cog"></i>
                    <span class="name">[`Settings`]</span>
                </a>
            </li>
        </ul>
    </div>
    {/if}

<script>
    ( function($) {
        $.crm.sidebar = new CRMSidebar({
            $wrapper: $("#c-sidebar-wrapper"),
            $ui: '{$wa->whichUI()}',
        });
    })(jQuery);
    {if isset($contacts_count)}
        if (window.appState && 'counters' in window.appState && 'contacts' in window.appState.counters) {
            window.appState.counters.contacts.total = {$contacts_count};
        }
    {/if}
</script>
