<script type="module" crossorigin src="{$wa_app_static_url}client/index.js?v={$wa->version()}"></script>
<link rel="stylesheet" href="{$wa_app_static_url}client/index.css?v={$wa->version()}">

<script type="module">
    if ('emitter' in window) {
        window.emitter.on('spa:navigateType', (name) => {
            if (name) {
                const menuItems = document.querySelectorAll('#c-sidebar-block .menu li');
                const targetItemIndex = name === 'contacts' ? 0 : 1;
                if (menuItems[targetItemIndex]) {
                    menuItems.forEach(e => e.classList.remove('selected'));
                    menuItems[targetItemIndex].classList.add('selected');
                }

            }
        });
    }
</script>

<div id="app"></div>