<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{$wa_app_static_url}css/form.css?{$wa->version()}">
    <script src="{$wa_app_static_url}js/crm.frontend.form.js?{$wa->version()}"></script>
    <script src="{$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js?{$wa->version()}" type="text/javascript"></script>
</head>
<body>
    <div id="wa-app">
        <div id="content">
            <div class="content" id="core-content">
                {$html}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{$wa_app_static_url}js/iframeResizer.contentWindow.min.js?{$wa->version()}"></script>
</body>
</html>
