<div class="dialog c-email-personal-settings-dialog" id="c-email-personal-settings-dialog">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <form>

            <header class="dialog-header">
                <h1>[`Personal settings`]</h1>
            </header>

            <div class="dialog-content">
                <div class="fields">
                    <div class="field">
                        <div class="name">[`Name`]</div>
                        <div class="value c-sender-name-wrapper">
                            <input class="js-sender-name-input" type="text" name="sender_name"
                                   value="{if $user_name !== $sender_name}{$sender_name|escape}{/if}"
                                   placeholder="{$user_name|escape}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Signature`]</div>
                    </div>
                    <div class="field">
                        <textarea class="js-wysiwyg-field" name="email_signature">{$email_signature}</textarea>
                    </div>
                </div>
            </div>

            <footer class="dialog-footer">
                <span class="c-visible">
                    <input class="button " type="submit" value="[`Save`]">
                </span>
                <a class="button light-gray js-close-dialog" href="javascript:void(0);">[`Cancel`]</a>
            </footer>
        </form>
    </div>

    <script>
        (function($) {
            new CRMEmailPersonalSettingsDialog({
                $wrapper: $("#c-email-personal-settings-dialog")
            });
        })(jQuery);
    </script>
</div>
