{strip}
<i class="poligon-icon" title="{$funnel_name|escape} / {$stage_name|escape}">
    <svg width="16" height="16">
        <g>
            <polygon points="4,16 0,16 3.9,7.9 0,0 4,0 8.7,7.9" style="opacity: 0.33; fill: rgb({$rgb});"></polygon>
            <polygon points="8,16 4,16 7.9,7.9 4,0 8,0 12.6,7.9" style="opacity: 0.66; fill: rgb({$rgb});"></polygon>
            <polygon points="11.9,16 7.9,16 11.8,7.9 7.9,0 11.9,0 16,7.9" style="fill: rgb({$rgb});"></polygon>
        </g>
    </svg>
</i>
{/strip}