{$wrapper_id = uniqid('crm-contact-operation-add-to-segment-wrapper-')}

<div class="crm-dialog-wrapper crm-contact-operation-add-to-segment-wrapper" id="{$wrapper_id}">
    <div class="crm-dialog-background"></div>
    <div class="crm-dialog-block">
        <header class="crm-dialog-header">
            <h1>[`Add to segments`]</h1>
        </header>

        <div class="crm-dialog-content">
            {foreach ['shared' => '[`Shared segments`]', 'my' => '[`My segments`]'] as $shared_type => $block_name}
                {if $segments[$shared_type]}
                    <div class="block">
                        <h5 class="heading">{$block_name}:</h5>
                        <ul class="menu-v">
                            {foreach $segments[$shared_type] as $segment}
                                <li data-id="{$segment.id}" class="c-segment-item">
                                    <label>
                                        <input type="checkbox" name="segment[]"
                                                value="{$segment.id}"
                                                {if $segment.checked}checked="checked"{/if}
                                                {if $segment.disabled}disabled="disabled"{/if}>
                                        <span class="c-name-wrapper">
                                            {if !empty($segment.icon_path)}
                                                <i class="icon16 userpic20" style="background: url({$segment.icon_path}); border-radius: 0;"></i>
                                            {elseif !empty($segment.icon)}
                                                <i class="icon16 {$segment.icon}"></i>
                                            {/if}
                                            <span class="c-name">{$segment.name|escape}</span>
                                        </span>
                                    </label>
                                </li>
                            {/foreach}
                        </ul>
                    </div>
                {/if}
            {/foreach}

            <div class="block">
                <a href="javascript:void(0);"class="crm-add-new-segment-link">
                    <i class="icon16 add"></i> [`New segment`]
                    <i class="icon16 loading crm-add-new-segment-loading" style="display: none;"></i>
                </a>
            </div>

        </div>

        <footer class="crm-dialog-footer">
            <input class="button green js-save" type="button" value="[`Save`]" {if !$is_assign}disabled="disabled"{/if}>
            <i class="icon16 loading crm-loading" style="display: none;"></i>
            <span style="margin: 0 4px;">[`or`]</span>
            <a class="js-close-dialog" href="javascript:void(0);">[`cancel`]</a>
        </footer>
    </div>
</div>
