<div class="crm-dialog-wrapper c-deal-edit-order-shipping-details-dialog js-deal-edit-order-shipping-details-dialog">
    <div class="crm-dialog-background"></div>
    <div class="crm-dialog-block">
        <header class="crm-dialog-header">
            <h1>[`Edit order shipping details`]</h1>
        </header>
        <div class="crm-dialog-content"></div>
        <div class="dialog-buttons">
            <div class="dialog-buttons-gradient">
                {$wa->csrf()}
                <input class="button green js-submit-dialog-button" type="submit" value="[`Save`]">
                <i class="icon16 loading js-submit-dialog-loading" style="margin-top: 8px; display: none;"></i>
                [`or`] <a class="cancel js-close-dialog" href="javascript:void(0);">[`cancel`]</a>
            </div>
        </div>
    </div>
</div>
