{$class_id = 'crm-deal-export-wrapper'}
{$wrapper_id = uniqid($class_id)}

<div class="crm-dialog-wrapper {$class_id}" id="{$wrapper_id}">
    <div class="crm-dialog-background"></div>
    <div class="crm-dialog-block">
        <header class="crm-dialog-header">
            <h1>[`Export deals`]</h1>
        </header>
        <div class="crm-dialog-content">
            <div class="crm-start-block">
                <p>
                    {_w('%d selected deal will be exported into CSV file', '%d selected deals will be exported into CSV file', $count)}
                </p>
                {if $dropped_ids_count > 0}
                    <p>
                        <i class="icon16 exclamation"></i> {_w('%d deal will not be affected by the action due to insufficient access rights', '%d deals will not be affected by the action due to insufficient access rights', $dropped_ids_count)}
                    </p>
                {/if}
                <div class="fields">
                    <div class="field">
                        <div class="name">[`Separator:`]</div>
                        <div class="value">
                            <select name="separator">
                                {foreach waCSV::$delimiters as $_sep}
                                    <option value="{$_sep[0]}">{_ws($_sep[1])}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">[`Encoding:`]</div>
                        <div class="value">
                            <select name="encoding">
                                {foreach $encoding as $v => $e}
                                    <option value="{$v}"{if $v=="utf-8"} selected="selected"{/if}>{$e}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name"></div>
                        <div class="value">
                            <label>
                                <input type="checkbox" name="export_fields_name" value="1">
                                [`Export fields name`]
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name"></div>
                        <div class="value">
                            <label>
                                <input type="checkbox" name="not_export_empty_columns" value="1">
                                [`Do not export empty columns`]
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="crm-process-block" style="display: none;">
                <p>
                    [`Exporting now. Please wait...`]<i class="icon16 loading"></i>
                </p>
            </div>

            {* FORM FOR DOWNLOAD FILE *}
            <form class="crm-download-file-form" method="post" action="">
                {$wa->csrf()}
                <input type="hidden" name="file" value="1">
            </form>

        </div>
        <footer class="crm-dialog-footer">
            <input class="button green js-save" type="button" value="[`Start export`]">
            <i class="icon16 loading crm-loading" style="display: none;"></i>
            <span style="margin: 0 4px;">[`or`]</span>
            <a class="js-close-dialog crm-js-cancel" href="javascript:void(0);">[`cancel`]</a>
        </footer>
    </div>
    <script>
        $(function () {
            new CRMDealsExport({
                '$wrapper': $('#{$wrapper_id}'),
                'ids': {$ids|json_encode}
            });
        });
    </script>
</div>
