{$_title = '[`Reminders`]'}
{$_user_id = $wa->userId()}

{$_hide_sidebar = $iframe}
{if !empty($reminder_setting) && $reminder_setting == "my"}
    {$_hide_sidebar = true}
{/if}

{$_reminder_types = crmConfig::getReminderTypeUI2()}

{$_filter_types = [
    "all" => [
        "id" => "all",
        "name" => "[`Any type`]"
    ]
]}

{$_filter_types = $_filter_types + $_reminder_types}
{$_type_filter = waRequest::request("type", null)}
{$_selected_type_filter = reset($_filter_types)}
{if !empty($_type_filter) && !empty($_filter_types[$_type_filter])}
    {$_selected_type_filter = $_filter_types[$_type_filter]}
{/if}

{if !empty($iframe)}
{$_locale_string = substr($wa->locale(), 0, 2)}
<!DOCTYPE html>
<html class="blank iframe-style">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>

    {* CSS *}
    {$wa->css()}
    <link href="{$wa_app_static_url}css/crm.css?v={$wa->version()}" rel="stylesheet">
        <link href="{$wa_app_static_url}js/jquery/jquery-ui.css?v={$wa->version()}" rel="stylesheet">
        <link href="{$wa_app_static_url}js/timepicker/jquery.timepicker.css?v={$wa->version()}" rel="stylesheet">

    {wa_js}
        {$wa_url}wa-content/js/jquery/jquery-3.6.0.min.js
        {$wa_app_static_url}js/jquery/jquery-ui.min.js
        {$wa_url}wa-content/js/jquery-plugins/jquery.store.js
        {$wa_app_static_url}js/timepicker/jquery.timepicker.min.js
        {$wa_url}wa-content/js/redactor/2/redactor.min.js
        {$wa_url}wa-content/js/jquery-wa/wa.js
    {/wa_js}

    {strip}
    {if $_locale_string != 'en'}
        <script src="{$wa_app_static_url}js/jquery/i18n/datepicker-{$_locale_string}.js?v={$wa->version()}"></script>
        <script src="{$wa_url}wa-content/js/redactor/2/{$_locale_string}.js?v{$wa->version(true)}"></script>
    {/if}
    {/strip}

    {wa_js}
        {$wa_app_static_url}js/crm.js
        {$wa_app_static_url}js/reminder.form.edit.js
        {$wa_app_static_url}js/reminders.js
    {/wa_js}
</head>
<body class="blank">
{/if}

<div class="c-reminders-page flexbox" id="c-reminders-page">
    {if empty($_hide_sidebar)}
        <div class="sidebar width-23rem blank bordered-right" id="c-reminders-sidebar">
            <div id="js-aside-block">
                <ul class="menu large custom-mt-0 c-users-list">

                    {function _renderUser}
                        {$_is_first = ($user.id == $_user_id)}
                        {$_is_active = (!$is_all_reminders && $user.id == $user_id)}
                        <li class="c-user-wrapper {if $_is_active}selected{/if}" data-id="{$user.id}">
                            <div class="profile flexbox middle space-8" href="{$app_url}reminder/{$user.id}/">
                                <div class="c-user-photo userpic userpic-32 js-user-photo">
                                    {$_userpic = $user->getPhoto(32)}
                                    <img src="{$_userpic}" class="" alt="userpic">
                                    {if !empty($user._online_status) && $user._online_status == 'online'}
                                    <span class="userstatus"></span>
                                    {/if}
                                </div>

                                <div class="details">
                                    {$_classes = []}
                                    {$burnCount = 0}
                                    {if $user.due_count > 0}
                                        {$_classes[] = "indicator"}
                                        {$_classes[] = "overdue"}
                                        {$burnCount = $user.due_count + $user.burn_count}
                                    {elseif $user.burn_count > 0}
                                        {$_classes[] = "indicator"}
                                        {$_classes[] = "burn"}
                                        {$burnCount = $user.burn_count}
                                    {/if}
                                    <div class="flexbox full-width nowrap">
                                        <a class="flexbox middle c-link" href="{$app_url}reminder/{$user.id}/">
                                        <span class="c-name">{if $_is_first}[`My own`] ({$user.name|escape}){else}{$user.name|escape}{/if}</span>
                                        </a>
                                        <div class="flexbox middle" style="align-self: flex-start">
                                            <div class="custom-m-0 custom-mx-12">
                                                {if $burnCount > 0}
                                                <span class="count  {$_classes|join:" "}" data-due-count="{$user.due_count}">{$burnCount}</span>{/if}
                                                {if $user.count > 0}
                                                <span class="count all" >{$user.count}</span>{/if}
                                            </div>
                                            <!--<a class="flexbox middle c-link-contact" href="{$app_url}contact/{$user.id}/">
                                                <span class="icon size-14 custom-m-0"><i class="fas fa-external-link-alt fa-w-14 text-light-gray cursor-pointer"></i></span>
                                            </a>-->
                                        </div>
                                    </div>

                                    {$_event = $user->getEvent()}
                                    {if !empty($_event)}
                                        <div class="line">
                                            {$_styles = []}
                                            {if !empty($_event.bg_color)}
                                                {$_styles[] = "background: `$_event.bg_color`;"}
                                            {/if}
                                            {if !empty($_event.font_color)}
                                                {$_styles[] = "color: `$_event.font_color`;"}
                                            {/if}
                                            <span class="c-status" {if !empty($_styles)}style="{$_styles|join:""}"{/if} title="">{$_event.summary}</span>
                                        </div>
                                    {/if}

                                    {if !empty($user.jobtitle)}
                                        <div class="line">
                                            <span class="c-jobtitle hint">{$user.jobtitle|escape}</span>
                                        </div>
                                    {/if}
                                </div>
                            </div>
                        </li>
                    {/function}
                        <li class="c-user-wrapper {if $is_all_reminders}selected{/if}" data-id="all">
                            <div class="profile flexbox middle space-8" href="{$app_url}reminder/all/">
                                <div class="c-all-user-photo size-28 js-user-photo">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="details">
                                    {$_classes = []}
                                    {$burnCount = 0}
                                    {if $total_count.due_count > 0}
                                        {$_classes[] = "indicator"}
                                        {$_classes[] = "overdue"}
                                        {$burnCount = $total_count.due_count + $total_count.burn_count}
                                    {elseif $total_count.burn_count > 0}
                                        {$_classes[] = "indicator"}
                                        {$_classes[] = "burn"}
                                        {$burnCount = $total_count.burn_count}
                                    {/if}
                                    <div class="flexbox full-width nowrap">
                                        <a class="flexbox middle c-link" href="{$app_url}reminder/all/">
                                        <span class="c-name">[`All employees`]</span>
                                        </a>
                                        <div class="flexbox middle" style="align-self: flex-start">
                                            <div class="custom-m-0 custom-mx-12">
                                                {if $burnCount > 0}
                                                <span class="count  {$_classes|join:" "}" data-due-count="{$total_count.due_count}">{$burnCount}</span>{/if}
                                                {if $total_count.count > 0}
                                                <span class="count all" >{$total_count.count}</span>{/if}
                                            </div>

                                        </div>

                                    </div>
                            </div>
                        </li>
                    {_renderUser user=$users[$_user_id]}

                    {foreach $users as $user}
                        {if $user.id != $_user_id}
                            {_renderUser user=$user}
                        {/if}
                    {/foreach}
                </ul>
            </div>
        </div>
    {/if}
    {function skeleton}
    <div class="skeleton-wrapper">
        <div class="skeleton">
            <span class="skeleton-header"></span>
            {for $i=1 to 5}
            <span class="skeleton-list"></span>
            {/for}
        </div>
    </div>
    {/function}
    <div class="content blank content-mobile-friendly">
        <div class="c-reminder-content-area article" id="js-content-block">

            <div class="article-body" {if !empty($iframe)}style="padding: 0;"{/if}>
                <div class="content-list-wrapper">


                {skeleton}
                {$_user_title = $_title}
                {if $is_all_reminders}
                    {$_user_title = "[`All reminders`]"}
                {elseif ($user_id == $_user_id)}
                    {$_user_title = "[`My reminders`]"}
                {elseif ifset($users[$user_id])}
                    {$_user = $users[$user_id]}
                    {$_user_title = $_user.name|escape}
                {/if}

                <div class="flexbox {if empty($iframe)}custom-p-16{/if}">
                    {if empty($_hide_sidebar)}
                    <div class="align-center mobile-only custom-pr-16">
                            <button class="button small circle light-gray js-expand-sidebar"><i class="fas fa-list-ul"></i></button>
                    </div>
                    {/if}
                    {if !$iframe}
                    <div class="c-column">
                        <h1 class="c-page-header">{$_user_title}</h1>
                    </div>
                    {/if}

                </div>

                <div class="c-add-form-wrapper" id="c-add-reminder-form">
                    <form>
                        <div class="flexbox middle vertical custom-pl-16 c-add-form-hover">
                            <div class="flexbox middle width-100">
                                <div class="c-column c-icon-column cursor-pointer">
                                    {*<i class="fas fa-plus c-plus"></i>*}
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99951 1C9.99951 0.447715 9.5518 0 8.99951 0C8.44723 0 7.99951 0.447715 7.99951 1L7.99951 8L0.999512 8C0.447227 8 -0.000488281 8.44771 -0.000488281 9C-0.000488281 9.55228 0.447227 10 0.999512 10L7.99951 10L7.99951 18C7.99951 18.5523 8.44723 19 8.99951 19C9.5518 19 9.99951 18.5523 9.99951 18V10L17.9995 10C18.5518 10 18.9995 9.55228 18.9995 9C18.9995 8.44771 18.5518 8 17.9995 8L9.99951 8V1Z" fill="var(--text-color-hint)"/>
                                    </svg>
                                </div>
                                <div class="flexbox width-100 custom-pb-12 custom-pr-16 c-add-form-textarea">
                                    <div class="flexbox vertical width-100">
                                        <div class="c-column width-100">
                                            <textarea class="js-textarea c-text-add" name="data[content]" placeholder="[`Add reminder`]"></textarea>
                                        </div>
                                        <div class="c-hidden-form">
                                                <div class="flexbox middle wrap space-16 c-footer">
                                                    {$_reminder_types = crmConfig::getReminderTypeUI2()}
                                                    {$_active_reminder_type = $_reminder_types["OTHER"]}
                                                    <div class="dropdown js-reminder-type-toggle" id="dropdown-new">
                                                        <button class="dropdown-toggle button button-slim smallest rounded light-gray js-text">
                                                            {if !empty($_active_reminder_type.icon)}
                                                            <span class="icon size-12"><i class="fas fa-{$_active_reminder_type.icon}"></i></span>
                                                            {/if}
                                                            <span class="js-text">{$_active_reminder_type.name|escape}</span>
                                                        </button>
                                                        <div class="dropdown-body">
                                                            <ul class="menu">
                                                                {foreach $_reminder_types as $_type}
                                                                <li class="{if $_type.id === $_active_reminder_type.id}selected{/if}">
                                                                    <a href="javascript:void(0);" data-type-id="{$_type.id}">
                                                                        {if !empty($_type.icon)}
                                                                        <span class="icon size-14"><i class="fas fa-{$_type.icon}"></i></span>
                                                                        {else}
                                                                        <i class="fas fa-blank" style="visibility: hidden;"></i>
                                                                        {/if}
                                                                    {$_type.name|escape}
                                                                    </a>
                                                                </li>
                                                            {/foreach}
                                                            </ul>
                                                            <input class="js-type-field" name="data[type]" type="hidden" value="{$_active_reminder_type.id}">
                                                        </div>
                                                    </div>

                                                    {* DATE *}
                                                    {strip}
                                                    <span class="flexbox middle nowrap c-date hint">
                                                        <span class="icon calendar"><i class="fas fa-calendar-alt"></i></span>
                                                        <input class="c-datepicker js-datepicker input-blank" name="data[due_date]" type="text" value placeholder="[`Term`]" autocomplete="off">
                                                        {*<input name="data[due_date]" type="hidden" value="">*}
                                                        <span class="c-hidden custom-pl-4">
                                                            <span class="icon cursor-pointer text-red js-reset-date"><i class="fas fa-times-circle"></i></span>
                                                        </span>
                                                    </span>
                                                    {/strip}

                                                    {* TIME *}
                                                    <span class="flexbox nowrap c-time-toggle js-time-toggle hint">
                                                        <span class="c-visible">
                                                            <span class="js-show-time">
                                                                <span class="icon calendar"><i class="fas fa-clock"></i></span>
                                                                <input class="c-timepicker js-timepicker input-blank" data-time-format="H:i" name="data[due_time]" placeholder="[`Time`]">
                                                            </span>
                                                        </span>
                                                        <span class="c-hidden">
                                                            <span class="icon js-reset-time text-red"><i class="fas fa-times-circle"></i></span>
                                                        </span>
                                                    </span>

                                                    {* Search Contact or deal *}
                                                    {capture assign=_deal_or_contact_add}
                                                    {if $setting_deal_id && !empty($deals[$setting_deal_id])}
                                                        {$_deal = $deals[$setting_deal_id]}
                                                        {if !empty($contacts[$_deal.contact_id])}
                                                            {$_user = $contacts[$_deal.contact_id]}
                                                            {$_userpic = $_user->getPhoto(32)}
                                                        {/if}
                                                        <a class="flexbox middle c-user" href="{$app_url}deal/{$setting_deal_id}/" target="_top" data-link="top">
                                                            {*if !empty($_userpic)}
                                                                <span class="icon size-18 rounded" style="background-image: url({$_userpic});"></span>
                                                            {/if*}
                                                            <span class="c-user-name">{$_deal.name|escape}</span>
                                                        </a>
                                                        <div class="hint custom-pl-12 js-open-search cursor-pointer">
                                                            <span class="icon size-14"><i class="fas fa-pen" title="[`edit`]"></i></span>
                                                        </div>
                                                    {elseif $setting_contact_id && !empty($contacts[$setting_contact_id])}
                                                        {$_user = $contacts[$setting_contact_id]}
                                                        <a href="{$app_url}contact/{$_user.id}/" class="flexbox middle c-user" target="_top" data-link="top">
                                                            {$_userpic = $_user->getPhoto(32)}
                                                            {if !empty($_userpic)}
                                                                <span class="icon size-18 rounded" style="background-image: url({$_userpic});"></span>
                                                            {/if}
                                                            <span class="c-user-name">&nbsp;{$wa->crm->contactName($_user.name)}</span>
                                                        </a>
                                                        <div class="hint custom-pl-12 js-open-search cursor-pointer">
                                                            <span class="icon size-14"><i class="fas fa-pen" title="[`edit`]"></i></span>
                                                        </div>
                                                    {/if}
                                                    {/capture}
                                                    <div class="flexbox middle c-deal-wrapper">
                                                        <div class="flexbox middle c-deal-item ">
                                                            {$_deal_or_contact_add}
                                                        </div>
                                                        <div class="nowrap hint c-search-contact-wrapper {if $setting_deal_id || $setting_contact_id}is-hidden{/if}">
                                                            <div class="">
                                                                <span class="icon"><i class="fas fa-user"></i></span>
                                                                <span class="icon"><i class="fas fa-briefcase"></i></span>
                                                                <input class="js-autocomplete-deal input-blank" id="input-autocomplete-deal" type="text" value="" placeholder="[`Contact or deal`]">
                                                            </div>
                                                            <span class="custom-pl-4 c-hidden">
                                                                <span class="icon js-reset-deal text-red cursor-pointer" title="[`Delete`]"><i class="fas fa-times-circle"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="c-actions width-100 custom-pt-8">
                                                        <div class="flexbox middle">
                                                            <button class="button dark-gray nowrap small c-actions-button js-save" type="submit">
                                                                {*<i class="fas fa-save"></i> *}[`Save`]
                                                            </button>
                                                            <button class="button nowrap light-gray small c-actions-button js-cancel">
                                                                {*<i class="fas fa-undo"></i> *}[`Cancel`]
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="c-hidden-form">
                                    <div class="flexbox vertical">
                                                {* USER *}
                                                <div class="c-contact-wrapper js-contact-wrapper">
                                                    <div class="flexbox middle space-4 c-contact js-user js-show-combobox">
                                                        {$assign_to_user.userpic = $assign_to_user->getPhoto(32)}
                                                        {if !empty($assign_to_user.userpic)}
                                                        <span class="icon size-24 rounded" style="background-image: url({$assign_to_user.userpic});"></span>
                                                        {/if}
                                                        {*<span class="c-name">{$assign_to_user.name|escape}</span>
                                                        <a class="inline-link small js-show-combobox" href="javascript:void(0);">[`Assign another user`]</a>*}
                                                        <span class="icon caret cursor-pointer" title="[`Assign another user`]"><i class="fas fa-caret-right"></i></span>
                                                    </div>
                                                    <div class="c-combobox flexbox middle">
                                                        <div class="state-with-inner-icon left">
                                                            <input class="js-autocomplete short" type="text" id="input-autocomplete-owner" value="" placeholder="[`Owner`]">
                                                            <span class="icon"><i class="fas fa-search"></i></span>
                                                        </div>
                                                        <span class="icon user-plus"><i class="fas fa-user-plus"></i></span>
                                                        {*<a class="inline-link js-hide-combobox" href="javascript:void(0);">[`cancel`]</a>*}
                                                    </div>
                                                    <input class="js-contact-field" type="hidden" name="data[user_contact_id]" value="{$assign_to_user.id}">
                                                </div>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <input name="data[contact_id]" value="{if $setting_contact_id && !$setting_deal_id}{$setting_contact_id}{/if}" type="hidden">
                        <input name="data[deal_id]" value="{if $setting_deal_id}{$setting_deal_id}{/if}" type="hidden">
                        <input name="data[user_id]" value="{ifset($user_id)}" type="hidden">
                    </form>
                </div>

                {if !empty($reminders)}

                    <ul class="c-reminders-list" id="c-main-reminders-list">
                        <div class="c-reminders-list-loader"><div class="spinner custom-p-16"></div></div>
                        {foreach $reminders as $_reminder}
                            {$_is_deal = ( $_reminder.contact_id < 0 )}
                            {if !empty($_reminder.type) && !empty($_reminder_types[$_reminder.type])}
                                {$_active_reminder_type = $_reminder_types[$_reminder.type]}
                            {/if}

                            {capture assign=_deal_or_contact}

                                {if $_is_deal && !empty($deals[abs($_reminder.contact_id)])}
                                    {$_deal_id = abs($_reminder.contact_id)}
                                    {$_deal = $deals[$_deal_id]}
                                    {$_funnel = ifset($funnels[$_deal.funnel_id])}
                                    {$_icon = ifset($_funnel.icon, 'fas fa-briefcase')}
                                    {if $_deal.status_id == crmDealModel::STATUS_WON}
                                        {$_icon = 'fas fa-flag-checkered'}
                                    {elseif $_deal.status_id == crmDealModel::STATUS_LOST}
                                        {$_icon = 'fas fa-ban'}
                                    {/if}
                                    {if !empty($contacts[$_deal.contact_id])}
                                        {$_user = $contacts[$_deal.contact_id]}
                                        {$_userpic = $_user->getPhoto(32)}
                                    {/if}
                                    <a class="flexbox middle c-user" href="{$app_url}deal/{$_deal_id}/" target="_top" data-link="top">
                                        {*if !empty($_userpic)}
                                            <span class="icon size-18 rounded" style="background-image: url({$_userpic});"></span>
                                        {/if*}
                                        <span class="custom-mr-4" style="color: {ifset($_funnel.color, 'lightgray')};"><i class="{$_icon}"></i></span>
                                        <span class="c-user-name">{$_deal.name|escape}</span>
                                    </a>
                                    {*if !empty($_reminder.rights)}
                                    <div class="c-right-actions hint">
                                        <span class="icon size-14 cursor-pointer js-edit-search"><i class="fas fa-pen" title="[`edit`]"></i></span>
                                    </div>
                                     {/if*}
                                {elseif !$_is_deal && !empty($contacts[$_reminder.contact_id])}
                                    {$_user = $contacts[$_reminder.contact_id]}

                                    <a href="{$app_url}contact/{$_user.id}/" target="_top" data-link="top" class="flexbox middle c-user">
                                        {$_userpic = $_user->getPhoto(32)}
                                        {if !empty($_userpic)}
                                            <span class="icon size-18 rounded" style="background-image: url({$_userpic});"></span>
                                        {/if}
                                        <span class="c-user-name">&nbsp;{$wa->crm->contactName($_user.name)}</span>
                                    </a>
                                    {*if !empty($_reminder.rights)}
                                    <div class="c-right-actions hint">
                                        <span class="icon size-14 cursor-pointer js-edit-search"><i class="fas fa-pen" title="[`edit`]"></i></span>
                                    </div>
                                     {/if*}
                                {/if}

                            {/capture}

                            {$_reminder_classes = []}
                            {$_reminder_classes[] = $_reminder.state|default:""}
                            {if $reminder_max_id && $_reminder.id > $reminder_max_id || $_reminder.id == $highlight_id}
                                {$_reminder_classes[] = "highlighted"}
                            {/if}
                            {if $_reminder.id == $reminder_id}
                                {$_reminder_classes[] = "is-target"}
                            {/if}

                            {$_reminder_mark_content = ""}
                            {if $_reminder_classes[0] == "overdue"}
                                {$_reminder_mark_content = "!!!"}
                            {/if}
                            {if $_reminder_classes[0] == "burn"}
                                {$_reminder_mark_content = "!!"}
                            {/if}
                            {if $_reminder_classes[0] == "actual"}
                                {$_reminder_mark_content = "!"}
                            {/if}
                            <li class="flexbox middle vertical c-reminder-wrapper js-edit-reminder {$_reminder_classes|join:" "}" data-id="{$_reminder.id}" id="c-reminder-{$_reminder.id}">
                                {* VIEW *}
                                <div class="flexbox middle space-12 width-100  custom-pl-12 custom-pt-12 c-step is-view is-shown">
                                    {if !empty($_reminder.rights)}
                                        <span class="c-marker c-mark-done js-mark-done" title="[`mark as done`]">
                                            <span class="c-marker-content">{$_reminder_mark_content}</span>
                                            <span class="icon size-12 c-marker-icon">
                                                <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.99951 7L7.49951 12.5L18.4995 1.5" stroke="var(--text-color)" stroke-width="2.5" stroke-linecap="round"/>
                                                </svg>
                                            </span>
                                        </span>
                                    {else}
                                        <span class="c-marker"><span class="c-marker-content">{$_reminder_mark_content}</span></span>
                                    {/if}
                                    {$show_user_block = $_reminder.creator_contact_id !== $_reminder.user_contact_id}
                                    <div class="flexbox width-100 custom-pb-12 custom-pr-16 c-content {if $show_user_block}with-userblock{/if}">
                                        <div class="flexbox vertical width-100">
                                            <div class="c-quick-content-toggle-wrapper js-quick-content-toggle-wrapper">

                                                {if !empty($_reminder.rights)}
                                                    <div class="c-text-field js-float-text">{$_reminder.content|escape|nl2br}</div>
                                                    {*<textarea class="js-float-textarea c-text-field" name="content" autocomplete="off" required>{$_reminder.content|escape}</textarea>*}
                                                {else}
                                                    <div class="c-text-field">{$_reminder.content|escape|nl2br}</div>
                                                {/if}
                                            </div>
                                            <div class="flexbox middle wrap width-100 space-16 c-footer">
                                                {if $_reminder.type !== "OTHER" && !empty($_active_reminder_type)}
                                                    {strip}
                                                    <button class="button button-slim smallest rounded light-gray no-hover">
                                                        {if !empty($_active_reminder_type.icon)}
                                                        <span class="icon size-12"><i class="fas fa-{$_active_reminder_type.icon}"></i></span>
                                                        {/if}
                                                        <span class="c-reminder-type">{$_active_reminder_type.name|escape}</span>
                                                    </button>
                                                    {/strip}
                                                {/if}
                                                {if !empty($_reminder.rights)}
                                                    {if $_reminder.due_datetime || $_reminder.due_date}
                                                        <div class="c-quick-date-toggle-wrapper js-quick-date-toggle-wrapper">
                                                            <div class="c-visible">
                                                            <div class="c-date-text c-change-date hint js-change-date">
                                                                {if $_reminder.due_datetime}
                                                                    {waDateTime::format('humandatetime', $_reminder.due_datetime)}
                                                                {elseif $_reminder.due_date}
                                                                    {waDateTime::format('humandate', $_reminder.due_date, 'server')}
                                                                {/if}
                                                            </div>
                                                            </div>
                                                        </div>
                                                    {/if}
                                                {else}
                                                    <div class="c-date-text hint">
                                                        {if $_reminder.due_datetime}
                                                            {waDateTime::format('humandatetime', $_reminder.due_datetime)}
                                                        {elseif $_reminder.due_date}
                                                            {waDateTime::format('humandate', $_reminder.due_date, 'server')}
                                                        {/if}
                                                    </div>
                                                {/if}
                                                <div class="flexbox middle space-12 c-deal-wrapper">
                                                {$_deal_or_contact}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flexbox vertical full-width c-icons-right">

                                            <div class="flexbox middle space-4 c-creator-contact hint">
                                            {$creator_id = $_reminder.creator_contact_id}
                                            {if $show_user_block}
                                                {if !empty($users[$creator_id])}
                                                    {$_user_info = $users[$creator_id]}
                                                    {$_userpic_info = $_user_info->getPhoto(32)}
                                                    {if !empty($_userpic_info)}
                                                    <span class="icon size-24 rounded" style="background-image: url({$_userpic_info});" title="{$_user_info.name|escape}"></span>
                                                    {/if}
                                                {else}
                                                    <span class="icon size-24 rounded" title="[`User not found.`]"><i class="fas fa-user-slash" style="max-width: 22px;"></i></span>
                                                {/if}
                                                <span class="">
                                                    <svg width="4.5" height="6.5" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M4.4557 3.84532L1.6932 6.60782C1.50227 6.79876 1.19352 6.79876 1.00461 6.60782L0.545547 6.14876C0.354609 5.95782 0.354609 5.64907 0.545547 5.46017L2.50367 3.50204L0.545547 1.54392C0.354609 1.35298 0.354609 1.04423 0.545547 0.855321L1.00258 0.392196C1.19352 0.201259 1.50227 0.201259 1.69117 0.392196L4.45367 3.1547C4.64664 3.34563 4.64664 3.65438 4.4557 3.84532V3.84532Z" fill="#AAAAAA"/>
                                                        </svg>
                                                </span>
                                            {/if}
                                            {if $show_user_block || $is_all_reminders}
                                                {if !empty($users[$_reminder.user_contact_id])}
                                                    {$_user_info = $users[$_reminder.user_contact_id]}
                                                    {$_userpic_info = $_user_info->getPhoto(32)}
                                                    {if !empty($_userpic_info)}
                                                        <span class="icon size-24 rounded" style="background-image: url({$_userpic_info});" title="{$_user_info.name|escape}"></span>
                                                    {/if}
                                                {else}
                                                     <span class="icon size-24 rounded {$_reminder.user_contact_id}" title="[`User not found.`]"><i class="fas fa-user-slash" style="max-width: 22px;"></i></span>
                                                {/if}
                                            {/if}
                                            </div>


                                            {if !empty($_reminder.rights)}
                                            <div class="c-right-actions js-dots-wrapper hint">
                                                <span class="icon size-14 dots"><i class="fas fa-ellipsis-h" title="[`edit`]"></i></span>
                                            </div>
                                            {/if}
                                        </div>
                                    </div>
                                </div>

                                {* EDIT *}
                                <div class="width-100 custom-pl-12 custom-pt-12 c-step is-edit">
                                    {$_reminder_user = ifset($users[$_reminder.user_contact_id], false)}
                                    {if !$_reminder_user}
                                        {$_reminder_user.id = $_reminder.user_contact_id}
                                        {$_reminder_user.deleted = true}
                                    {/if}
                                    {include file="./ReminderFormEdit.inc.html" _user=$_reminder_user _reminder=$_reminder inline}
                                </div>

                                {* CONFIRM *}
                                <div class="c-step is-confirm flexbox middle width-100">
                                    <p>[`Are you sure?`]</p>
                                    <div class="c-actions">
                                        <button class="button light-gray small js-confirm-delete"><i class="fas fa-trash-alt text-red bold delete"></i> [`Delete`]</button>
                                        [`or`]
                                        <button class="button small nowrap light-gray custom-ml-4 js-confirm-cancel"><i class="fas fa-undo"></i></button>
                                    </div>
                                </div>

                                <div class="c-dots-detail">
                                    <div class="flexbox vertical nowrap">
                                        <span class="c-create-date small custom-mb-16 align-center"><span class="first-part">[`Created at`]:</span><br><span class="">{$_reminder.create_datetime|wa_date:"d.m.Y H:i"}</span></span>
                                        <button class="button light-gray smaller width-100 js-edit custom-mb-8"><i class="fas fa-pencil-alt bold edit"></i> [`Edit`]</button>
                                        <button  class="button light-gray smaller width-100 js-remove"><i class="fas fa-trash-alt text-red bold delete"></i> [`Delete`]</button>
                                    </div>

                                </div>


                                {if !empty($_reminder.rights)}
                                    <script>
                                        ( function($) {
                                            new CRMReminder({
                                                $wrapper: $("#c-reminder-{$_reminder.id}"),
                                                iframe: {if $iframe}true{else}false{/if},
                                                id: "{$_reminder.id}",
                                                current_page: {$current_page},
                                                user_id: {if !empty($user_id)}{$user_id}{else}false{/if},
                                                setting_deal_id: {$setting_deal_id|default:0},
                                                setting_contact_id: {$setting_contact_id|default:0},
                                                reminder_user_id: {if !empty($_reminder_user.id)}{$_reminder_user.id}{else}false{/if},
                                                state: '{$_reminder.state|default:""}'
                                            });
                                        })(jQuery);
                                    </script>
                                {/if}
                            </li>
                        {/foreach}
                        {if isset($pages_count) && $pages_count > $current_page}
                        <li class="js-lazy-load">
                            <div class="spinner custom-p-4"></div>
                        </li>
                        {/if}
                    </ul>

                    {*OLD PAGINATION*}
                    {*if isset($pages_count) && $pages_count > 1}
                        <div class="small custom-pt-16">
                            {wa_pagination total=$pages_count attrs=['class'=>'paging']}
                        </div>
                    {/if*}
                {else}
                <div class="flexbox vertical middle no-reminders">
                    <span class="icon size-80 text-light-gray"><i class="fas fa-bell"></i></span>
                    {if $completed_reminders_count > 0}
                    <span class="custom-my-16 gray">[`All reminders are completed`]</span>
                    {else}
                    <span class="custom-my-16 gray">[`Reminders not added`]</span>
                    {/if}
                </div>
                {/if}
                <div class="drawer">
                    <div class="drawer-background"></div>
                </div>
                </div>
                    <section class="c-completed-reminders-section bottombar sticky {if !$completed_reminders_count}hidden{/if}">
                        <div class="flexbox middle c-actions custom-p-20">
                            <a class="custom-mr-4 bold js-load-completed-reminders" href="javascript:void(0);">
                                <span class="js-completed-reminders-btn-text">{_w('%d completed reminder', '%d completed reminders', $completed_reminders_count)}</span>
                                <span class="icon sort-down"><i class="fas fa-angle-down"></i></span>
                            </a>
                        </div>
                        <ul class="c-reminders-list"></ul>
                    </section>

                </div>
            </div>
    </div>
    <script>
        ( function($) {
            $.crm.title.set({$_title|json_encode});
            new CRMReminders({
                $wrapper: $("#c-reminders-page"),
                $sidebar: $("#c-reminders-sidebar"),
                iframe: {if $iframe}true{else}false{/if},
                user_id: {if !empty($user_id)}{$user_id}{else}false{/if},
                setting_deal_id: {$setting_deal_id|default:0},
                setting_contact_id: {$setting_contact_id|default:0},
                is_all_reminders: {if $is_all_reminders}true{else}false{/if},
                assign_to_user: {
                    name: "{$assign_to_user.name|escape}",
                    id: {$assign_to_user.id|escape},
                    photo_url: "{$assign_to_user.userpic|escape}",
                },
                current_page: {$current_page},
                locales: {
                    add_confirm_title: "[`Unsaved reminder`]",
                    add_confirm_text: "[`You are about to leave this page without saving your input. Are you sure?`]",
                    add_confirm_button: "[`Leave`]",
                    empty: "[`Required field is empty`]",

                }
            });
        })(jQuery);
    </script>
    {if !empty($focus)}
    <script>
        ( function($) {
            setTimeout(() => $('#c-add-reminder-form .js-textarea').focus(), 100)
        })(jQuery);
    </script>
    {/if}
</div>

{if !empty($iframe)}
<script>
    ( function($) {
    $.crm.app_url = "{$app_url}";
    const $content = $("body");
    const $spaContainer = $('#c-spaContainer-block');
    /* Main content router */
    $.crm.content = new ContentRouter({
        $content: $content,
        $spaContainer: $spaContainer
    });
    $.crm.iframe = {$iframe|json_encode};
    })(jQuery);
</script>
</body>
</html>
{/if}
