<div class="c-settings-shop-page" id="js-settings-shop-page">
    <h1 class="c-page-header">[`Shop-Script integration`]</h1>

    {strip}
    <ul class="c-view-toggle-wrapper">
        <li class="is-active">
            <a href="{$wa_app_url}settings/shop/">[`Automatic deal creation`]</a>
        </li>
        <li>
            <a href="{$wa_app_url}settings/shop/workflow/">[`Workflow-Funnel synchronization`]</a>
        </li>
    </ul>
    {/strip}

    {if !$supported}
        <p>
            {sprintf_wp('You need Shop-Script version %s or newer for CRM integration.', crmConfig::SHOP_MINIMAL_VERSION)}
        </p>
    {else}

        <p>
            [`Create deals from orders in your online store!`]
            [`Set up <i>automatic</i> creation of deals upon execution of various order actions, individually for each of your storefronts.`]
            [`Or <i>manually</i> create deals in the online store backend, regardless of the settings on this page.`]
        </p>

        <form action="{$wa_app_url}?module=settings&action=shopSave">
            <ul class="menu-v c-storefront-list js-storefront-list">
                {foreach $storefronts as $storefront}
                    {$_url = $storefront.url|escape}

                    {if $_url}
                        {$_namespace = "storefront[{$_url}]"}
                    {else}
                        {$_namespace = "storefront[NULL]"}
                    {/if}

                    <li class="c-storefront">

                        <h3>{$storefront.name|default:''|escape}</h3>

                        <div class="js-ibutton-wrapper">
                            <label class="c-off-label gray" for="js-ibutton-{$storefront@iteration}">[`Disabled`]</label>
                            <input type="checkbox" class="c-storefont-checkbox js-ibutton" id="js-ibutton-{$storefront@iteration}" name="{$_namespace}[checked]" value="1" {if $storefront.checked}checked{/if}>
                            <label class="c-on-label" for="js-ibutton-{$storefront@iteration}">[`Enabled`]</label>
                        </div>

                        <div class="c-storefront-params-block" {if !$storefront.checked}style="display: none;"{/if}>
                            <div class="field">
                                <div class="name">[`Create deal when`]:</div>
                                <div class="value">
                                    <ul class="menu-v compact" style="margin-top: 0;">
                                        <li>
                                            <label>
                                                <input type="radio" name="{$_namespace}[create_deal_trigger]" value="order_create" {if !$storefront.create_deal_trigger || $storefront.create_deal_trigger === 'order_create'}checked{/if}>
                                                [`Order was placed`]
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="radio" name="{$_namespace}[create_deal_trigger]" value="order_process" {if $storefront.create_deal_trigger === 'order_process'}checked{/if}>
                                                [`Order was confirmed and accepted for processing`]
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            {$storefront.deal_block}
                        </div>
                    </li>
                {/foreach}
            </ul>

            <div class="c-footer-actions js-footer-actions">
                <input class="button green js-submit-button" type="submit" value="[`Save`]">
                <span class="c-hidden">
                    <span style="margin: 0 4px;">[`or`]</span>
                    <a href="{$wa_app_url}settings/shop/">[`cancel`]</a>
                </span>
            </div>
        </form>

        <script>
            (function($) {
                new CRMSettingsShop({
                    $wrapper: $("#js-settings-shop-page")
                });
            })(jQuery);
        </script>

    {/if}
</div>
