{$_title = "[`Notifications`]"}

{$_is_here_birthday_active_event = false}

<div class="c-settings-notification-page" id="c-settings-notification-page">
    <h1 class="c-page-header">{$_title}</h1>
    <section class="c-notifications-section">
        <ul class="menu-v c-notification-list">
            {foreach $notifications as $_notification}
                {$_icon = "email"}
                {if !empty($transports[$_notification.transport])}
                    {$_icon = $transports[$_notification.transport].icon}
                {/if}

                {if $_notification.event === 'customer.birthday' && $_notification.status > 0}
                    {$_is_here_birthday_active_event = true}
                {/if}
                <li class="c-notification {if !$_notification.status}c-is-disabled{/if}" data-id="{$_notification.id}">

                    <div class="c-layout inline">
                        <div class="c-column">
                            <div class="c-notification-details">
                                <a href="{$wa_app_url}settings/notifications/edit/{$_notification.id}/">
                                    <i class="icon16 {$_icon}"></i>
                                    <span class="c-notification-name">{$_notification.name|escape}</span>
                                </a>
                                {if !empty($_notification.company) && !empty($_notification.company.name)}
                                    <span class="hint">({$_notification.company.name|escape})</span>
                                {/if}
                            </div>
                        </div>

                        <div class="c-column">
                            <span class="c-disable-link-wrapper">
                                <a class="js-c-disable-link c-disable-link nowrap" href="javascript:void(0);">
                                    {if $_notification.status}[`disable`]{else}[`enable`]{/if}</a>
                                <i class="icon16 loading c-loading" style="display: none"></i>
                            </span>
                        </div>
                    </div>
                </li>
            {/foreach}
        </ul>
        <div class="c-add-wrapper">
            <a href="{$wa_app_url}settings/notifications/edit/" class="inline-link">
                <i class="icon16 add"></i>
                <b><i>[`Add notification`]</i></b>
            </a>
        </div>

        {if $_is_here_birthday_active_event && !crmNotificationBirthdayWorker::isCliOk()}
            <div style="margin-top: 20px;">
                {include file="./SettingsCronNotificationBirthday.inc.html" inline}
            </div>
        {/if}

    </section>

    <script>
        (function ($) {
            $.crm.title.set({$_title|json_encode});
            new CRMNotificationStatus({
                $wrapper: $("#c-settings-notification-page"),
                messages: {
                    'disable': '[`disable`]',
                    'enable': '[`enable`]'
                }
            });
        })(jQuery);
    </script>
</div>
