<div class="crm-dialog-wrapper crm-settings-form-edit-field-wrapper" data-template="1" style="display: none;">
    <div class="crm-dialog-background"></div>
    <div class="crm-dialog-block">
        <header class="crm-dialog-header">
            <h1>[`Field settings`]</h1>
        </header>

        <form>
            <div class="crm-dialog-content">
                <div class="block fields">
                    <div class="field crm-field-id">
                        <div class="name">[`Field`]</div>
                        <div class="value">[`Description`] (ID=?)</div>
                    </div>
                    <div class="field crm-field-caption">
                        <div class="name">[`Label in this form`]</div>
                        <div class="value">
                            <input type="text" name="params[caption]" value="">
                        </div>
                    </div>
                    <div class="field crm-field-captionplace">
                        <div class="name">[`Label placement`]</div>
                        <div class="value">
                            <label><input type="radio" name="params[captionplace]" value="left" checked="checked"> [`left from field`]</label><br>
                            <label><input type="radio" name="params[captionplace]" value="above"> [`above of the field`]</label><br>
                            <label><input type="radio" name="params[captionplace]" value="none"> [`hide`]</label><br>
                        </div>
                    </div>

                    <div class="field crm-field-redactor" style="display: none;">
                        <div class="name">[`Mode`]</div>
                        <div class="value">
                            <div class="crm-redactors-radio-block">
                                <div class="crm-redactors-radio-column">
                                    <label>
                                        <input type="radio" name="params[redactor]" value="" checked disabled>
                                        [`Plain text`]
                                        <img src="{$wa_app_static_url}img/plain-text-icon.png" class="crm-redactor-image">
                                    </label>
                                </div>
                                <div class="crm-redactors-radio-column">
                                    <label>
                                        <input type="radio" name="params[redactor]" value="1" disabled>
                                        [`Redactor`]
                                        <img src="{$wa_app_static_url}img/redactor-icon.png" class="crm-redactor-image">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field crm-field-placeholder" style="display: block;">
                        <div class="name">[`Placeholder`]</div>
                        <div class="value">
                            <input type="text" name="params[placeholder]" value="">
                        </div>
                    </div>

                    <div class="field crm-field-placeholder_confirm" style="display: none;">
                        <div class="name">[`Placeholder for confirm password input`]</div>
                        <div class="value">
                            <input type="text" name="params[placeholder_confirm]" value="">
                        </div>
                    </div>

                    <div class="field crm-field-required">
                        <div class="name">
                            <label for="fcrm-field-param-required">[`Required`]</label>
                        </div>
                        <div class="value">
                            <label><input type="checkbox" id="fcrm-field-param-required" name="params[required]"> </label>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="crm-dialog-footer">
                <div class="crm-actions">
                    <input class="button green crm-button js-some-action" type="submit" value="[`Apply`]">
                    <span style="margin: 0 4px;">[`or`]</span>
                    <a class="js-close-dialog" href="javascript:void(0);">[`cancel`]</a>
                </div>
            </footer>
        </form>
    </div>
</div>
