{$class_id = 'crm-contact-operation-assign-tags-wrapper'}
{$wrapper_id = uniqid($class_id)}

<div class="dialog {$class_id}" id="{$wrapper_id}">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header">
            <h1>[`Assign tags`]</h1>
        </header>
        <div class="dialog-content">
            <div class="crm-tags-input-block">
                {$_tags = []}
                {foreach $contact_tags as $tag}
                    {$_tags[] = $tag['name']|escape}
                {/foreach}
                <input type="text" id="{$wrapper_id}-tags-input" name="tags" value="{$_tags|join:','}" class="crm-tags-input" placeholder="[`Add tag`]">
            </div>
            <div class="crm-popular-tags-block">
                {if $popular_tags}
                    <ul class="small chips tags mobile-friendly crm-popular-tags">
                        <li class="crm-title">[`Popular tags`]</li>
                        {foreach $popular_tags as $tag}
                            <li class="crm-popular-tag-item">
                                <a href="javascript:void(0);" class="crm-popular-tag-item-link">
                                    <i class="fas fa-hashtag"></i>
                                    <span>{$tag.name|escape}</span>
                                </a>
                            </li>
                        {/foreach}
                    </ul>
                {/if}
            </div>
        </div>
        <footer class="dialog-footer">
            <input class="button js-save" type="submit" value="[`Assign`]">
            <span class="icon size-16 loading crm-loading" style="display: none;"><i class="fas fa-spinner wa-animation-spin custom-mr-4"></i></span>
            <a class="button light-gray js-close-dialog" href="javascript:void(0);">[`Cancel`]</a>
        </footer>
    </div>
    <script>
        $(function () {
            new CRMContactsOperationAssignTags({
                '$wrapper': $('#{$wrapper_id}'),
                'context': {$context|json_encode},
                'is_assign': {$is_assign|json_encode}
            });
        });
    </script>
</div>
