{$wrapper_id = uniqid('crm-contact-segment-list-edit-wrapper-')}

{$segment.icon = $segment.icon|default:'contact'}
{$segment.type = $segment.type|default:crmSegmentModel::TYPE_CATEGORY}

<div class="dialog crm-contact-segment-list-edit-wrapper" id="{$wrapper_id}">
    <div class="dialog-background"></div>
    <div class="dialog-block">

        <form method="post" action="{$wa_app_url}?module=contactSegment&action=save{if $segment.id > 0}&id={$segment.id}{/if}">

            <header class="dialog-header">
                <h1>Xxx</h1>
            </header>

            <div class="dialog-content">

                <div class="fields">
                    <div class="field">
                        <div class="name">[`Name`]</div>
                        <div class="value">
                            <input type="text" value="{$segment.name|escape}" class="crm-name-input" name="name">
                        </div>
                    </div>


                </div>
            </div>

            <footer class="dialog-footer">
                <input class="button green crm-button" type="submit" value="[`Save`]">
                <span class="icon loading crm-loading" style="display: none"><i class="fas fa-spinner wa-animation-spin speed-1000"></i></span>

                {* Default close link, need in all cases except one, see below comment *}
                <a class="button light-gray js-close-dialog" href="javascript:void(0);">[`Cancel`]</a>

                {* This link special treated in double-dialog case, see CRMContactsOperationAddToSegments class *}
                <a class="button light-gray crm-cancel-link" href="javascript:void(0);" style="display: none;">[`Cancel`]</a>
                <span class="icon loading crm-cancel-loading" style="display: none"><i class="fas fa-spinner wa-animation-spin speed-1000"></i></span>

                {* Delete segment link, see CRMContactSegmentEdit *}
                {if $segment.id > 0}
                    <a class="button red crm-delete-link" href="javascript:void(0);">[`Delete segment`]</a>
                {/if}
            </footer>

            <input type="hidden" name="type" value="{$segment.type}">
            {if $segment.type === crmSegmentModel::TYPE_SEARCH}
                <input type="hidden" name="hash" value="{$segment.search_info.hash}">
            {/if}

        </form>
    </div>

    <script>
        $(function () {
        });
    </script>

</div>
