
{$_title = '[`Advanced search`]'}
{if $segment}
    {$_title = $segment.name}
{/if}

{$_button_name = '[`Find`]'}
{if $segment}
    {$_button_name = '[`Save`]'}
{/if}
{$_locale_string = substr($wa->locale(), 0, 2)}
{if !empty($iframe)}
<!DOCTYPE html>
<html style="height: 100%;">
<head>
<title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
{$wa->css()}
<link href="{$wa_app_static_url}js/jquery/jquery-ui.css?v={$wa->version()}" rel="stylesheet">
<link href="{$wa_app_static_url}js/timepicker/jquery.timepicker.css?v={$wa->version()}" rel="stylesheet">
<link href="{$wa_app_static_url}css/crm.css?v={$wa->version()}" rel="stylesheet">
<link href="{$wa_app_static_url}css/crm2.css?v={$wa->version()}" rel="stylesheet">

<script src="{$wa_url}wa-content/js/jquery/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/jquery/jquery-ui.min.js?v={$wa->version()}"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.store.js?v={$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/crm.js?v={$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/search/search.js?v={$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/search/jquery.combobox.js?v={$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/search/period.dialog.js?v={$wa->version()}"></script>
<script type="text/javascript" src="{$wa_app_static_url}js/crm.autocomplete.js"></script>
{if $_locale_string != 'en'}
    <script src="{$wa_app_static_url}js/jquery/i18n/datepicker-{$_locale_string}.js?v={$wa->version()}"></script>
{/if}
<script>
    (function ($) {
        window.wa_url = {$wa_url|json_encode};
        $.crm.lang = {$lang|json_encode};
        $.crm.app_url = {$wa_app_url|json_encode};
        $.crm.backend_url = {$wa_backend_url|json_encode};
        $.crm.is_debug = {$wa->debug()|json_encode};
        $.crm.title.pattern = "%s — {$wa->accountName(false)|escape:'javascript'}";
    })(jQuery);
</script>
</head>
<body style="height: 100%;">
{/if}
<div class="block shadowed crm-search-container-wrapper" {if !empty($iframe)}style="overflow-y: auto; height: 100%;" {/if}>
    <div id="c-search-container">
        <form>
            <div class="c-search-block" id="c-search-block">
                <div class="flexbox">
                    <div class="sidebar width-20rem blank c-shadowed-content crm-second-sidebar bordered-right" {if !empty($iframe)}style="height: 100vh; top: 0" {/if}>

                        <div class="sidebar-wrapper custom-p-12">
                            <div class="large bold custom-mb-16">[`Choose search parameters`]:</div>
                            {foreach $config as $section_id => $cnfg}
                                <div class="block not-padded collapsable-wrapper custom-pt-8" data-id="{$section_id}">
                                    <div class="collapse-header collapse-handler cursor-pointer {if empty($sidebar_map[$section_id])}close{else}open{/if}">
                                        <span class="custom-pr-4 ">{_wp($cnfg.name)|escape}</span>
                                        <i class="fas fa-caret-right"></i>
                                    </div>
                                    <ul class="menu collapsable" {if empty($sidebar_map[$section_id])}style="display:none;"{/if}>
                                        {foreach $cnfg.items as $id => $item}
                                            {if empty($item.parent)}
                                                <li data-id="{$section_id}.{$id}" class="add-condition-item" {if !empty($item.multiple)}data-multiple="1"{/if}>
                                                    <a href="javascript:void(0);">{_wp($item.name)|escape}</a>
                                                </li>
                                            {/if}
                                        {/foreach}
                                    </ul>
                                </div>
                            {/foreach}
                        </div>

                    </div>
                    <div class="content blank content-mobile-friendly">

                        <div class="article">
                            <div class="article-body custom-pb-0">
                                <div class="content-fields fields">
                                    <h1>{$_title|escape}</h1>
                                    {foreach $items as $item}
                                        {include file="./ContactSearchCondition.inc.html"
                                        item=$item['item']
                                        count=$item['count']|default:""
                                        id=$item['item_id']
                                        conds=$item['conds']
                                        class="c-hidden"
                                        extra=[]
                                        inline}
                                    {/foreach}
                                    <div id="c-choose-parameters-message" class="align-center custom-mt-48" style="{if !empty($items)}display:none;{/if}">
                                        [`Choose search parameters in the sidebar`]
                                    </div>
                                </div>
                                <div class="buttons custom-mt-48 custom-mb-16" id="c-search-buttons">
                                    <div class="line">
                                        <input type="submit" class="button" value="{$_button_name}">
                                        {if $segment}
                                            <a href="{$wa_app_url}contact/segment/{$segment.id}/" class="button light-gray c-search-buttons__cancel">[`Cancel`]</a>
                                        {/if}
                                        <span class="icon loading" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
                                    </div>
                                    <div class="line" id="c-search-message"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="block templates" style="display:none">
            {if !empty($items)}
                {foreach $items as $tmpl_item}
                    {$_id = $tmpl_item['item_id']}
                    {include file="./ContactSearchCondition.inc.html" id=$_id item=$tmpl_item['item'] conds=[] extra=[]}
                {/foreach}
            {/if}
        </div>
    </div>

    <div id="c-searching" style="display:none;"><i class="fas fa-spinner fa-spin loading"></i> [`Searching...`]</div>
    <div id="c-contacts-count-text" style="display:none;"></div>

    <div id="contacts-container" class="tab-content no-border" style="display:none;">
        <div class="block not-padded contacts-data"></div>
    </div>
    <div class="clear"></div>

    {include file="./ContactSearchPeriodDialog.inc.html" inline}

    <script>
        ( function($) {
            $.crm.title.set({$_title|json_encode});

            $('#wa').addClass('c-search');

            var container = $('#c-search-container');
            var form = $('#c-search-container').find('form');
            var getActionUrl = function (action, params) {
                return $.crm.app_url + '?module=contactSearch&action=' + action + (params ? '&' + params : '');
            };
            var getResultUrl = function (hash) {
                return $.crm.app_url + 'contact/search/result/' + hash;
            };

            var onCollapse = function() {
                var wrapper = $(this).closest('.collapsable-wrapper');
                wrapper.find('.collapsable :input').attr('disabled', true);
                wrapper.find('.hide-when-expand :input').attr('disabled', false);
                var block = $(this).closest('.js-field');
                block.find('.subfield :input').attr('disabled', true);
                if (block.data('id') === 'contact_info.name') {
                    block.find('.subfield[data-id$=firstname] input').focus();
                }
                $.get(getActionUrl('condition'), {
                    op: 'collapse_section',
                    id: wrapper.data('id') }
                );
            };
            var onExpand = function() {
                var wrapper = $(this).closest('.collapsable-wrapper');
                wrapper.find('.collapsable :input').attr('disabled', false);
                wrapper.find('.hide-when-expand :input').attr('disabled', true);
                var block = $(this).closest('.js-field');
                block.find('input:first').focus();
                block.find('.subfield :input').attr('disabled', false);
                $.get(getActionUrl('condition'), { op: 'expand_section', id: wrapper.data('id') });
            };
            var collapse = function(h) {
                //var i = h.find('.collapse-handler');
                var wrapper = h.closest('.collapsable-wrapper');
                if (h.hasClass('open')) {
                    wrapper.find('.collapsable').hide();
                    wrapper.find('.hide-when-expand').show();
                    h.removeClass('open');
                    onCollapse.call(h);
                }
            };
            var expand = function(h) {
               // var i = h.find('.collapse-handler');
                var wrapper = h.closest('.collapsable-wrapper');
                wrapper.find('.collapsable').show();
                wrapper.find('.hide-when-expand').hide();
                h.addClass('open');
                onExpand.call(h);
            };
            $('#c-search-container').off('click', '.collapse-handler').
                on('click', '.collapse-handler', function() {
                    if ($(this).hasClass('open')) {
                        collapse($(this));
                    } else {
                        expand($(this));
                    }
                    return false;
                });

            var advanced_block = $('#c-search-block');
            advanced_block.find('.content-fields .collapse-handler').each(function() {
                //var i = $(this).find('.collapse-handler');
                if (!$(this).hasClass('open')) {
                    onCollapse.call(this);
                } else {
                    onExpand.call(this);
                }
            });

            $.crm.search.indexBlocks();

            function makeChoosePeriodControl(el)
            {
                var start_input = $('<input class="datepicker small" style="width:119px;" type="text" autocomplete="off">');
                var end_input = $('<input class="datepicker small custom-ml-4" style="width:119px;" type="text" autocomplete="off">');
                var hidden_input = $('<input type="hidden" name="' + el.data('id') + '">');

                var init_val = el.data('value');
                var init_op = el.data('op');
                el.append(start_input).append(' &mdash; ').append(end_input).append(hidden_input);
                if (init_val) {
                    init_val = init_val.split('--');
                    if (init_val[0]) {
                        if (init_op === '=' || init_op === '>=') {
                            el.find('.datepicker:eq(0)').val(init_val[0]);
                        } else if (init_op === '<=') {
                            el.find('.datepicker:eq(1)').val(init_val[0]);
                        }
                    }
                    if (init_val[1]) {
                        el.find('.datepicker:eq(1)').val(init_val[1]);
                    }
                }
                el.find('.datepicker')
                    .change(function() {
                        var range = [];
                        if (start_input.datepicker('getDate')) {
                            range[0] = start_input.val();
                        }
                        if (end_input.datepicker('getDate')) {
                            range[1] = end_input.val();
                        }
                        if (range[0] && range[1]) {
                            hidden_input.val(JSON.stringify({
                                op: '=',
                                val: range.join('--')
                            }));
                        } else if (range[0]) {
                            hidden_input.val(JSON.stringify({
                                op: '>=',
                                val: range[0]
                            }));
                        } else if (range[1]) {
                            hidden_input.val(JSON.stringify({
                                op: '<=',
                                val: range[1]
                            }));
                        } else {
                            hidden_input.val('');
                        }
                    })
                    .keydown(function(e) {
                        if (e.keyCode === 13) {
                            $(this).change();
                            form.trigger('enter');
                        }
                    })
                    .datepicker({
                        dateFormat: 'yy-mm-dd'
                    }).change();

            }

            function makeChooseBooleanControl(el)
            {
                var name = el.attr('name');
                el.attr('name', '');
                var input = $('<input type="hidden" name="' + name + '" value="' + el.val() + '">').insertAfter(el);

                var items = '';
                el.find('option').each(function() {
                    items += '<li><a href="javascript:void(0)" class="item" data-value="' + $(this).val() + '">' + $(this).text() + '</a></li>';
                });
                var menu = $('<div class="dropdown" id="dropdown-choose-boolean">' + 
                             '<button class="dropdown-toggle light-gray outlined inline-link chooser" type="button"><div class="chooser-text">' + el.find('option:selected').text() +  '</div></button>' + 
                             '<div class="dropdown-body">' +    
                             '<ul class="menu">' + items + '</ul></div></div>')
                    menu.waDropdown();
                    menu.find('.item').click(function() {
                        input.val($(this).data('value'));
                        menu.find('.chooser-text').text($(this).text());
                    }).end().insertAfter(el);
               // menu.find('.menu').width(el.width());
                el.hide();
            }

            $('.add-condition-item', container).click(function() {
                var self = $(this);
                if (self.data('loading')) {
                    return;
                }

                var id = self.data('id');
                var multiple = $(this).data('multiple');
                var item = $('.templates .js-field[data-id="' + id + '"]', container).clone();
                var prepareItem = function(item) {
                    $('.content-fields', advanced_block).append(item);
                    item.find('.combobox').combobox({
                        url: getActionUrl('values')
                    });
                    item.find('.c-choose-period').each(function() {
                        makeChoosePeriodControl($(this));
                    }).end().find('.c-choose-boolean').each(function() {
                        makeChooseBooleanControl($(this));
                    });

                    $.crm.search.indexBlocks(id);
                    item.find('input:not(:hidden):not(.datepicker):first').focus();
                    $('#c-choose-parameters-message').hide();

                    self.trigger('after_load_condition', [id, item]);

                };
                if (!item.length) {
                    var loading = $('<span class="icon loading custom-pl-4"><i class="fas fa-spinner fa-spin"></i></span>').appendTo($(this).find('a'));
                    self.data('loading', 1);
                    $.get(getActionUrl('condition'), { id: id }, function(html) {
                        self.data('loading', 0);
                        var tmp = $('<div></div>').html(html);
                        item = tmp.children(':first');

                        // cache
                        $('.templates', container).append(item.clone());

                        prepareItem(item);
                        tmp.remove();
                        loading.remove();
                        $('#c-search-message').hide();

                        if ($('#c-search-block .content-fields .js-field:first').length) {
                            $('#c-search-buttons').show();
                        }

                    });
                } else {
                    if (multiple) {
                        item.show();
                        prepareItem(item);
                    } else {
                        var it = $('.js-field[data-id="'+id+'"]', advanced_block);
                        if (!it.length) {
                            prepareItem(item);
                        } else {
                            it.find('input:not(:hidden):not(.datepicker):first').focus();
                        }
                        if ($('#c-search-block .content-fields .js-field:first').length) {
                            $('#c-search-buttons').show();
                        }
                    }
                    $.get(getActionUrl('condition'), { id: id, op: 'remember' });
                    $('#c-search-message').hide();
                }
                $(this).trigger('select', [id, item]);
            });

            $('.js-field', advanced_block).each(function() {
                $(this).show();
                $(this).find('.combobox').combobox({
                    url: getActionUrl('values')
                });
                $(this).find('.c-choose-period').each(function() {
                    makeChoosePeriodControl($(this));
                }).end().find('.c-choose-boolean').each(function() {
                    makeChooseBooleanControl($(this));
                });
            });

            $('#c-search-block').find('.js-field input:not(:hidden):not(.datepicker):first').focus();
            var block_ids = $.unique($('#c-search-block').find('.js-field').map(function() {
                return $(this).data('id').split('.')[0];
            }).toArray());
            for (var i = 0; i < block_ids.length; i += 1) {
                expand($('.collapsable-wrapper[data-id="'+block_ids[i]+'"] .collapse-handler'));
            }


            $('.add-condition-item', container).bind('select', function(e, id, block, first) {
                if (block.data('multiple') || first) {
                    block.find('.combobox').combobox({
                        url: getActionUrl('values')
                    });
                    if (block.find('.c-choose-period').length) {
                        block.find('.c-choose-period').each(function() {
                            makeChoosePeriodControl($(this));
                        });
                    }
                    block.find('input:first').focus();
                } else {
                    block.find('input:text:first').select();
                }

                return false;
            });
            form.find('input[type=text]').keydown(function(e) {
                if (e.keyCode === 13) {
                    $(this).trigger('enter');
                }
            });
            form.bind('enter', function() {
                form.trigger('submit');
            });
            form.keydown(function(e) {
                if (e.keyCode === 13) {
                    return false;
                }
            });

            var formSearchHash = function (ignore_encoding) {
                $.crm.search.indexBlocks();
                return $.crm.search.serialize(form, undefined, undefined, ignore_encoding);
            };

            form.submit(function(e) {
                e.preventDefault();
                const loading = form.find('#c-search-buttons .loading').show();
                {if $segment}
                    var hash = formSearchHash(true),
                        url = $.crm.app_url + '?module=contactSegment&action=save',
                        data = {$segment|json_encode};
                    data.hash = hash;
                    if (data.hash.length <= 0) {
                        return;
                    }
                    $.post(url, data, function () {
                        openLinkInIframe($.crm.app_url + 'contact/segment/' + data.id + '/?refetchSegments=1');
                       // $.crm.content.load($.crm.app_url + 'contact/segment/' + data.id + '/');
                    });
                {else}
                    var hash = formSearchHash();
                    if (hash.length <= 0) {
                        return;
                    }
                    $('#c-search-message').hide();
                    {if empty($iframe)}
                        location.href = getResultUrl(hash);
                    {else}
                        openLinkInIframe(getResultUrl(hash));
                    {/if}
                {/if}
            });

            container.on('click', '.killer', function() {
                var item = $(this).closest('div.js-field');
                var id = item.data('id');
                item.remove();
                $.crm.search.indexBlocks(id);
                if (!$('#c-search-block .content-fields .js-field:first').length) {
                    $('#c-search-buttons').hide();
                    $('#c-choose-parameters-message').show();
                }
                $.get(getActionUrl('condition'), { id: id, op: 'delete' });
            });

            container.on('click', '.c-search-buttons__cancel', function (e) {
                e.preventDefault();
                openLinkInIframe(e.target.href);
            });

            function openLinkInIframe (link) {
                if (window.location !== window.parent.location) {
                    if (window.history && history.pushState) {
                        window.parent.history.pushState({ reload: true }, '', link);
                    } else {
                        window.parent.location.href = link;
                    }
                } else {
                    location.href = link;
                }
            }
        })(jQuery);
    </script>
</div>
{if !empty($iframe)}
</body>
</html>
{/if}