{$class_id = 'crm-contact-operation-delete-checking'}
{$wrapper_id = uniqid($class_id)}

<div class="crm-dialog-wrapper {$class_id}" id="{$wrapper_id}" style="display: none;">
    <div class="crm-dialog-background"></div>
    <div class="crm-dialog-block">
        <header class="crm-dialog-header"></header>
        <div class="crm-dialog-content">
            <h2>[`Checking links to other applications...`] <i class="icon16 loading"></i></h2>
        </div>
        <footer class="crm-dialog-footer">
            <input class="button gray crm-cancel" type="button" value="[`Cancel`]">
        </footer>
    </div>
</div>
