<div class="dialog crm-dialog-search-period-wrapper is-template" style="display: none;">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header">
            <h1>[`Choose period`]</h1>
        </header>

        <div class="dialog-content">
            <table width="100%;">
                <tr>
                    <td align="center">
                        <div class="datepicker start"></div>
                    </td>
                    <td align="center">&mdash;</td>
                    <td align="center">
                        <div class="datepicker end"></div>
                    </td>
                </tr>
            </table>
        </div>

        <footer class="dialog-footer">
            <input class="button crm-button js-apply-action" type="button" value="[`Apply`]">
            <span style="margin: 0 4px;">[`or`]</span>
            <a class="js-cancel-action" href="javascript:void(0);">[`cancel`]</a>
        </footer>

    </div>
</div>
