<div class="dialog crm-dialog-search-period-wrapper is-template" style="display: none;">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header">
            <h1>[`Choose period`]</h1>
        </header>

        <div class="dialog-content">
            <div class="flexbox full-width middle space-16">
                <div class="align-center">
                    <div class="datepicker start custom-mx-auto custom-mt-8"></div>
                </div>
                <div class="text-gray">&mdash;</div>
                <div class="align-center">
                    <div class="datepicker end custom-mx-auto custom-mt-8"></div>
                </div>
            </div>
        </div>

        <footer class="dialog-footer">
            <input class="button crm-button gray js-apply-action" type="button" value="[`Apply`]">
            <input class="button crm-button light-gray js-cancel-action" type="button" value="[`Cancel`]">
        </footer>

    </div>
</div>
